{% extends "admin/base_site_grid.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}

<style type="text/css">
#grid_location__name, #grid_operationplans, .ui-jqgrid .ui-jqgrid-resize, .ui-jqgrid .ui-jqgrid-htable th div {
  height: 34px;
}
.opplan {
   vector-effect: non-scaling-stroke;
   fill:rgb(111,111,255);
   stroke-width:1px;
   stroke:rgb(0,0,0)
}
.opplan_locked {
   vector-effect: non-scaling-stroke;
   fill:rgb(0,0,255);
   stroke-width:1px;
   stroke:rgb(0,0,0)
}
.time {
   vector-effect: non-scaling-stroke;
   stroke-width:1px;
   stroke:rgb(0,0,0)
}
</style>

<script type="text/javascript">

var horizonstart = new Date({{bucketstart|date:"Y"}},{{bucketstart|date:"m"}}-1,{{bucketstart|date:"d"}});
var horizonend = new Date({{bucketend|date:"Y"}},{{bucketend|date:"m"}}-1,{{bucketend|date:"d"}});
var viewstart = new Date({{bucketstart|date:"Y"}},{{bucketstart|date:"m"}}-1,{{bucketstart|date:"d"}});
var viewend = new Date({{bucketend|date:"Y"}},{{bucketend|date:"m"}}-1,{{bucketend|date:"d"}});
var delta = (viewend.getTime() - viewstart.getTime()) / 86400000.0;
var ROW = 25;


function gantt(cellvalue, options, rowdata)
{
  var layer = [];
  var result = [];
  // TODO account for loads of different sizes. Implicitly we currently guess all are 1.
  for (o in rowdata["operationplans"])
  {
     var data = rowdata["operationplans"][o];
     var row = 0;
     for (; row < layer.length; ++row)
     {
        if (data["startdate"] >= layer[row])
        {
           layer[row] = data["enddate"];
           break;
        }
     };
     if (row >= layer.length) layer.push(data["enddate"]);
     if (data['locked'] == 1)
       result.push( '<rect x="' + data["x"] + '" y="' + (-row*ROW) + '" width="' + Math.max(data["w"],1) + '" height="' + (ROW-3) + '" class="opplan_locked"><title>Operation: ' + data["operation"] + (data["description"] ? ('<br/>Description: ' + data["description"]) : '') + '<br/>Quantity: ' + data["quantity"] + '<br/>Start Date: ' + data["startdate"] + '<br/>End Date: ' + data["enddate"] + '</title></rect>');
     else
       result.push( '<rect x="' + data["x"] + '" y="' + (-row*ROW) + '" width="' + Math.max(data["w"],1) + '" height="' + (ROW-3) + '" class="opplan"><title>Operation: ' + data["operation"] + (data["description"] ? ('<br/>Description: ' + data["description"]) : '') + '<br/>Quantity: ' + data["quantity"] + '<br/>Start Date: ' + data["startdate"] + '<br/>End Date: ' + data["enddate"] + '</title></rect>');
  }
  return '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="' + (ROW*layer.length+3) + 'px">'
    + '<title>' + escape(rowdata["name"]) + '</title>'
    + '<g class="transformer" transform="scale(1,1) translate(0,' + ((layer.length-1)*ROW+3) +')" title="' + layer.length +'">'
    + result.join('\n')
    + '</g></svg>';
};


$(function() {
  gantt_header();
});


function gantt_header()
{
  // TODO Smarter handling of space available for the text
  var scaling = 86400000 / (viewend.getTime() - viewstart.getTime()) * 1000;
  var result = [
    '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="34px">',
    '<line class="time" x1="0" y1="17" x2="1000" y2="17"/>'
    ];
  var x = 0;
  var bucketstart = new Date(viewstart.getTime());
  while (bucketstart < viewend)
  {
    if (bucketstart.getDay() == 0)
    {
      result.push('<line class="time" x1="' + Math.floor(x) + '" y1="0" x2="' + Math.floor(x) + '" y2="34"/>');
      result.push('<text style="text-anchor: middle;" x="' + (x + scaling*7/2) + '" y="13" font-family="Verdana" font-size="9" fill="black">' + $.datepicker.formatDate("yy-mm-dd", bucketstart) + '</text>');
    }
    else
    {
      result.push('<line class="time" x1="' + Math.floor(x) + '" y1="17" x2="' + Math.floor(x) + '" y2="34"/>');
    }
    result.push('<text style="text-anchor: middle;" x="' + (x + scaling/2) + '" y="31" font-family="Verdana" font-size="9" fill="black">' + $.datepicker.formatDate((scaling>45) ? "dd M": "d", bucketstart) + '</text>');
    x = x + scaling;
    bucketstart.setDate(bucketstart.getDate()+1);
  }
  result.push( '</svg>' );
  $("#jqgh_grid_operationplans").html(result.join(''));
}

function gantt_reset()
{
  viewstart = new Date(horizonstart.getTime());
  viewend = new Date(horizonend.getTime());
  $('.transformer').each(function() {
    var layers = $(this).attr("title");
    $(this).attr("transform", "scale(1,1) translate(0," + ((layers-1)*ROW+3) + ")");
    });
  gantt_header();
}

function gantt_zoom(zoom_in_or_out, move_in_or_out)
{
  delta = Math.ceil((viewend.getTime() - viewstart.getTime()) / 86400000.0 * zoom_in_or_out);
  viewstart.setTime(viewstart.getTime() + move_in_or_out);
  viewend.setTime(viewstart.getTime() + delta * 86400000);
  var scale = (horizonend.getTime() - horizonstart.getTime()) / (delta * 86400000);
  var offset = (horizonstart.getTime() - viewstart.getTime()) / (horizonend.getTime() - horizonstart.getTime()) * 1000;
  $('.transformer').each(function() {
    var layers = $(this).attr("title");
    $(this).attr("transform", "scale(" + scale + ",1) translate(" + offset + "," + ((layers-1)*ROW+3) + ")");
    });
  gantt_header();
}

</script>
{% endblock %}

{% block tools %}{% if args.0 %}
{% include "resourcetabs.html" %}<div style="clear:both"></div>
{% endif %}{{block.super}}
{% endblock %}

{% block contextmenus %}
{% include "resourcecontext.html" %}
<div id="detailcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
<li class="ui-menu-item"><a id="{{request.prefix}}/loadplan/?theresource={value}&amp;startdate__lt={enddate}&amp;enddate__gte={startdate}">{% trans 'Detail' %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/resourcepegging/?theresource={value}&amp;startdate__lt={enddate}&amp;enddate__gte={startdate}">{% trans 'Pegging' %}</a></li>
</ul></div>
{% endblock %}

{% block actions %}
<a id="zoom_in" href="javascript:gantt_zoom(0.66666,0);" class="icon"><span class="ui-icon ui-icon-zoomin"></span>{% trans 'Zoom in' %}</a>
<a id="zoom_out" href="javascript:gantt_zoom(1.33333,0);" class="icon"><span class="ui-icon ui-icon-zoomout"></span>{% trans 'Zoom out' %}</a>
<a id="move_in" href="javascript:gantt_zoom(1,-86400000);" class="icon"><span class="ui-icon ui-icon-seek-prev"></span>{% trans 'Move in' %}</a>
<a id="move_out" href="javascript:gantt_zoom(1,86400000);" class="icon"><span class="ui-icon ui-icon-seek-next"></span>{% trans 'Move out' %}</a>
<a id="reset" href="javascript:gantt_reset();" class="icon"><span class="ui-icon ui-icon-stop"></span>{% trans 'Reset' %}</a>
<a id="filter" href="javascript:filter_show();" class="icon"><span class="ui-icon ui-icon-search"></span>{% trans 'Filter' %}</a>
<a href="javascript:grid.showBucket();" id="bucketconfig" class="icon"><span class="ui-icon ui-icon-clock"></span>{% trans 'Time' %}</a>
{% endblock %}

{% block extra_grid %}resizeStop: function(width, index) {
   if (index == 2)
      $('.transformer').each(function() {
        $(this).attr("transform", "scale(" + width/1000 + ",1)");
      });
   },
{% endblock %}
