{% extends "admin/base_site_grid.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}

<style type="text/css">
#grid_location__name, #grid_operationplans, .ui-jqgrid .ui-jqgrid-resize, .ui-jqgrid .ui-jqgrid-htable th div {
  height: 34px;
}
.opplan {
   vector-effect: non-scaling-stroke;
   fill:rgb(111,111,255);
   stroke-width:1px;
   stroke:rgb(0,0,0)
}
.opplan_locked {
   vector-effect: non-scaling-stroke;
   fill:rgb(0,0,255);
   stroke-width:1px;
   stroke:rgb(0,0,0)
}
.time {
   vector-effect: non-scaling-stroke;
   stroke-width:1px;
   stroke:rgb(0,0,0)
}
</style>

<script type="text/javascript">

var horizonstart = new Date({{request.report_startdate|date:"Y"}},{{request.report_startdate|date:"n"}}-1,{{request.report_startdate|date:"j"}});
var horizonend = new Date({{request.report_enddate|date:"Y"}},{{request.report_enddate|date:"n"}}-1,{{request.report_enddate|date:"j"}});
var viewstart = new Date({{request.report_startdate|date:"Y"}},{{request.report_startdate|date:"n"}}-1,{{request.report_startdate|date:"j"}});
var viewend = new Date({{request.report_enddate|date:"Y"}},{{request.report_enddate|date:"n"}}-1,{{request.report_enddate|date:"j"}});
var delta = (viewend.getTime() - viewstart.getTime()) / 86400000.0;

function ganttcell(cellvalue, options, rowdata)
{
  var layer = [];
  var result = [];
  // TODO account for loads of different sizes. Implicitly we currently guess all are 1.
  for (o in rowdata["operationplans"])
  {
     var data = rowdata["operationplans"][o];
     var row = 0;
     for (; row < layer.length; ++row)
     {
        if (data["startdate"] >= layer[row])
        {
           layer[row] = data["enddate"];
           break;
        }
     };
     if (row >= layer.length) layer.push(data["enddate"]);
     if (data['locked'] == 1)
       result.push( '<rect x="' + data["x"] + '" y="' + (-row*gantt.rowsize) + '" width="' + Math.max(data["w"],1) + '" height="' + (gantt.rowsize-3) + '" class="opplan_locked"><title>Operation: ' + data["operation"] + (data["description"] ? ('<br/>Description: ' + data["description"]) : '') + '<br/>Quantity: ' + data["quantity"] + '<br/>Start Date: ' + data["startdate"] + '<br/>End Date: ' + data["enddate"] + '</title></rect>');
     else
       result.push( '<rect x="' + data["x"] + '" y="' + (-row*gantt.rowsize) + '" width="' + Math.max(data["w"],1) + '" height="' + (gantt.rowsize-3) + '" class="opplan"><title>Operation: ' + data["operation"] + (data["description"] ? ('<br/>Description: ' + data["description"]) : '') + '<br/>Quantity: ' + data["quantity"] + '<br/>Start Date: ' + data["startdate"] + '<br/>End Date: ' + data["enddate"] + '</title></rect>');
  }
  var scale = $("#jqgh_grid_operationplans").width() / 10000;
  return '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="' + (gantt.rowsize*layer.length+3) + 'px">'
    + '<title>' + escape(rowdata["name"]) + '</title>'
    + '<g class="transformer" transform="scale(' + scale + ',1) translate(0,' + ((layer.length-1)*gantt.rowsize+3) +')" title="' + layer.length +'">'
    + result.join('\n')
    + '</g></svg>';
};


$(function() {
  gantt.header();
});

</script>
{% endblock %}

{% block tools %}{% if args.0 %}
{% include "resourcetabs.html" %}<div style="clear:both"></div>
{% endif %}{{block.super}}
{% endblock %}

{% block actions %}
<span onclick="gantt.zoom(0.5,0)" class="fa fa-search-plus fa-lg" title="{% trans 'zoom in'|capfirst|force_escape %}"></span>&nbsp;&nbsp;
<span onclick="gantt.zoom(1.5,0)" class="fa fa-search-minus fa-lg" title="{% trans 'zoom out'|capfirst|force_escape %}"></span>&nbsp;&nbsp;
<span onclick="gantt.zoom(1,-86400000)" class="fa fa-backward fa-lg" title="{% filter capfirst|force_escape %}{% trans 'move in' context "Gantt"%}{% endfilter %}"></span>&nbsp;&nbsp;
<span onclick="gantt.zoom(1,86400000)" class="fa fa-forward fa-lg" title="{% filter capfirst|force_escape %}{% trans 'move out' context "Gantt"%}{% endfilter %}"></span>&nbsp;&nbsp;
<span onclick="gantt.reset()" class="fa fa-square fa-lg" title="{% trans 'reset'|capfirst|force_escape %}"></span>&nbsp;&nbsp;
<span onclick="grid.showFilter()" title="{% trans 'filter data'|capfirst|force_escape%}" class="fa fa-search fa-lg"></span>&nbsp;&nbsp;
<span onclick="grid.showBucket()" title="{% trans 'configure time buckets'|capfirst|force_escape %}" id="bucketconfig" class="fa fa-clock-o fa-lg"></span>&nbsp;&nbsp;
<span onclick="grid.showCustomize(false);" title="{% trans 'customize'|capfirst|force_escape %}" class="fa fa-wrench fa-lg"></span>
{% endblock %}

{% block extra_grid_DIS %}resizeStop: function(width, index) {
   if (index == 2)
      $('.transformer').each(function() {
        $(this).attr("transform", "scale(" + width/1000 + ",1)");
      });
   },
{% endblock %}
