#!/usr/bin/make -f

# Uncomment to see verbose output
# export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_BUILD_OPTIONS = nocheck parallel=2
DEB_CONFIGURE_EXTRA_FLAGS = --disable-static --disable-dependency-tracking --enable-doc --disable-lp_solver
 
install/frepple::
	mkdir -p $(CURDIR)/debian/tmp/etc/apache2/sites-available
	install -m 644 contrib/debian/httpd.conf $(CURDIR)/debian/tmp/etc/apache2/sites-available/frepple
	mv $(CURDIR)/debian/tmp/usr/bin/frepplectl.py $(CURDIR)/debian/tmp/usr/bin/frepplectl
