{% extends "admin/base_site_grid.html" %}
{% load i18n %}
{% block extrastyle %}
<style>

#status h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

td, th {
    border-bottom: none;
}
</style>
{{block.super}}
{% endblock %}
{% block extrahead %}{{block.super}}
<script type="text/javascript">

function extraPreference() {
  return {
     "height": $("#gbox_grid").height() - 48,
     "width": $("#fields").width()
     };
}

function displayXMLdata(xmldata)
{
  $("#id_name").val($(xmldata).find('demands > demand > name').text());
  $("#id_description").val($(xmldata).find('demands > demand > description').text());
  $("#id_item").val($(xmldata).find('demands > demand > item > name').text());
  $("#id_customer").val($(xmldata).find('demands > demand > customer > name').text());
  $("#id_location").val($(xmldata).find('demands > demand > location > name').text());
  $("#id_quantity").val($(xmldata).find('demands > demand > quantity').text());
  var due = $(xmldata).find('demands > demand > due').text();
  $("#id_due_0").val(due.substring(0,10));
  $("#id_due_1").val(due.substring(11,19));
  $("#id_minshipment").val($(xmldata).find('demands > demand > minshipment').text());
  status = '<h1>{% trans "deliveries"|capfirst %}</h1>';
  $(xmldata).find('demands > demand > operationplans > operationplan').each(function() {
    status += '&nbsp;&nbsp;' + $(this).find('quantity').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
    })
  status += '<h1>{% trans "problems"|capfirst %}</h1>';
  $(xmldata).find('demands > demand > problems > problem').each(function() {
    status += '&nbsp;&nbsp;' + $(this).find('description').text() + '<br/>';
    })
  status += '<h1>{% trans "why short or late?"|capfirst %}</h1>';
  $(xmldata).find('demands > demand > constraints > problem').each(function() {
    status += '&nbsp;&nbsp;' + $(this).find('name').text() + '&nbsp;&nbsp;' + $(this).find('description').text() + '&nbsp;&nbsp;' + $(this).find('start').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
    })
  $('#status').html(status);
}

function getQuote(event)
{
  var demand = $('<demand/>');
  demand.attr("name",$("#id_name").val())
    .append( $('<quantity/>').text($("#id_quantity").val()) )
    .append( $('<item/>').attr("name", $("#id_item").val()) )
    .append( $('<due/>').text($("#id_due_0").val() + 'T' + $("#id_due_1").val()) )
    .append( $('<priority>1000000</priority>') );
  var v = $("#id_description").val();
  if (v!=null && v!='')
    demand.append( $('<description/>').text(v) );
  v = $("#id_location").val();
  if (v!=null && v!='')
    demand.append( $('<location/>').attr("name", v) )
  v = $("#id_customer").val();
  if (v!=null && v!='')
    demand.append( $('<customer/>').attr("name", v) );
  v = $("#id_minshipment").val();
  if (v!=null && v!='' && !isNaN(v))
    demand.append( $('<minshipment/>').text(v) );
  else
    demand.append( $('<minshipment/>').text(0) );
  v = $("#id_maxlateness").val();
  if (v!=null && v!='')
    demand.append( $('<maxlateness/>').text(v) );
  var demands = $('<demands/>').append(demand);
  var plan = $('<plan/>').attr("xmlns:xsi","http://www.w3.org/2001/XMLSchema-instance").append(demands);
  var root = $('<XMLDocument />').append(plan);
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/quote/',
    contentType: 'application/xml; charset=utf-8',
    data: root.html(),
    dataType: 'xml',
    success: function (xmldata, status, jqXHR) {
      displayXMLdata(xmldata);
      setTimeout(function(){
        jQuery("#grid").trigger('reloadGrid', [{current:true}])
        }, 1000);
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html('<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h4 class="modal-title">'+gettext('Error')+'</h4>'+
              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>'+
            '</div>'+
            '<div class="modal-body">'+ result.responseText +'</div>' +
            '<div class="modal-footer">'+'</div>'+
          '</div>'+
      '</div>')
      .modal('show');
      }
    });
  event.preventDefault();
  event.stopPropagation();
}

function inquireQuote(event)
{
  var demand = $('<demand/>');
  demand.attr("name",$("#id_name").val())
    .append( $('<quantity/>').text($("#id_quantity").val()) )
    .append( $('<item/>').attr("name", $("#id_item").val()) )
    .append( $('<due/>').text($("#id_due_0").val() + 'T' + $("#id_due_1").val()) )
    .append( $('<priority>1000000</priority>') );
  var v = $("#id_description").val();
  if (v!=null && v!='')
    demand.append( $('<description/>').text(v) );
  v = $("#id_location").val();
  if (v!=null && v!='')
    demand.append( $('<location/>').attr("name", v) )
  v = $("#id_customer").val();
  if (v!=null && v!='')
    demand.append( $('<customer/>').attr("name", v) );
  v = $("#id_minshipment").val();
  if (v!=null && v!='' && !isNaN(v))
    demand.append( $('<minshipment/>').text(v) );
  else
    demand.append( $('<minshipment/>').text(0) );
  v = $("#id_maxlateness").val();
  if (v!=null && v!='')
    demand.append( $('<maxlateness/>').text(v) );
  var demands = $('<demands/>').append(demand);
  var plan = $('<plan/>').attr("xmlns:xsi","http://www.w3.org/2001/XMLSchema-instance").append(demands);
  var root = $('<XMLDocument />').append(plan);
  //console.log(root.html());
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/inquiry/',
    contentType: 'application/xml; charset=utf-8',
    data: root.html(),
    dataType: 'xml',
    success: function (xmldata, status, jqXHR) {
      displayXMLdata(xmldata);
      setTimeout(function(){
        jQuery("#grid").trigger('reloadGrid', [{current:true}])
        }, 1000);
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html('<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h4 class="modal-title">'+gettext('Error')+'</h4>'+
              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>'+
            '</div>'+
            '<div class="modal-body">'+ result.responseText +'</div>' +
            '<div class="modal-footer">'+'</div>'+
          '</div>'+
      '</div>')
      .modal('show');
      }
    });
  event.preventDefault();
  event.stopPropagation();
}

function cancelQuote(event)
{
  var name = $("#id_name").val();
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/cancel/?name=' + encodeURIComponent(name),
    dataType: 'html',
    success: function (xmldata, status, jqXHR) {
      setTimeout(function(){
        jQuery("#grid").trigger('reloadGrid', [{current:true}]);
        }, 1000);
      $("#id_name").val('');
      $("#id_description").val('');
      $("#id_item").val('');
      $("#id_customer").val('');
      $("#id_location").val('');
      $("#id_quantity").val('1');
      $("#id_due_0").val(moment().format("YYYY-MM-DD"));
      $("#id_due_1").val('00:00:00');
      $("#id_minshipment").val('1');
      $("#id_maxlateness").val('');
      $('#status').html('');
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html('<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h4 class="modal-title">'+gettext('Error')+'</h4>'+
              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>'+
            '</div>'+
            '<div class="modal-body">'+ result.responseText +'</div>' +
            '<div class="modal-footer">'+'</div>'+
          '</div>'+
      '</div>')
      .modal('show');
      }     });
  event.preventDefault();
  event.stopPropagation();
}

function confirmQuote(event)
{
  var name = $("#id_name").val();
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/confirm/?name=' + encodeURIComponent(name),
    dataType: 'html',
    success: function (xmldata, status, jqXHR) {
      setTimeout(function(){
        jQuery("#grid").trigger('reloadGrid', [{current:true}]);
        }, 1000);
      $("#id_name").val('');
      $("#id_description").val('');
      $("#id_item").val('');
      $("#id_customer").val('');
      $("#id_location").val('');
      $("#id_quantity").val('1');
      $("#id_due_0").val(moment().format("YYYY-MM-DD"));
      $("#id_due_1").val('00:00:00');
      $("#id_minshipment").val('');
      $("#id_maxlateness").val('');
      $('#status').html('');
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html('<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h4 class="modal-title">'+gettext('Error')+'</h4>'+
              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>'+
            '</div>'+
            '<div class="modal-body">'+ result.responseText +'</div>' +
            '<div class="modal-footer">'+'</div>'+
          '</div>'+
      '</div>')
      .modal('show');
      }
    });
  event.preventDefault();
  event.stopPropagation();
}

function displayInfo(rowid) {
 $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/info/',
    contentType: 'application/json; charset=utf-8',
    data: JSON.stringify([rowid]),
    dataType: 'xml',
    success: function (xmldata, status, jqXHR) {
        displayXMLdata(xmldata);
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html('<div class="modal-dialog">'+
              '<div class="modal-content">'+
                '<div class="modal-header">'+
                  '<h4 class="modal-title">'+gettext('Error')+'</h4>'+
                  '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>'+
                '</div>'+
                '<div class="modal-body">'+ result.responseText +'</div>' +
                '<div class="modal-footer">'+'</div>'+
              '</div>'+
          '</div>')
          .modal('show');
      }
    });
}

function getDropdownData()
{
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/data/input/item/',
    dataType: 'html',
    success: function (xmldata, status, jqXHR) {
      setTimeout(function(){
        jQuery("#grid").trigger('reloadGrid', [{current:true}]);
        }, 1000);
      $("#id_item1").val('test');
      $("#id_customer").val('');
      $("#id_location").val('');
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html('<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h4 class="modal-title">'+gettext('Error')+'</h4>'+
              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>'+
            '</div>'+
            '<div class="modal-body"><text-area>'+ result.responseText +'</text-area></div>' +
            '<div class="modal-footer">'+'</div>'+
          '</div>'+
      '</div>')
      .modal('show');
      }
    });
  event.preventDefault();
  event.stopPropagation();
}

$(function() {
  icons = {
      time: 'fa fa-clock-o',
      date: 'fa fa-calendar',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-bullseye',
      clear: 'fa fa-trash',
      close: 'fa fa-remove'
    };
  // Date picker
  $(".vDateField").on('focusin', function() {
    $(this).parent().css('position', 'relative');
    $(this).datetimepicker({format: 'YYYY-MM-DD', calendarWeeks: true, icons, locale: document.documentElement.lang});
  });
  $(".vTimeField").on('focusin', function() {
    $(this).parent().css('position', 'relative');
    $(this).datetimepicker({format: 'HH:mm:ss', icons, locale: document.documentElement.lang});
  });

  $("#id_due_0").val(moment().format("YYYY-MM-DD"));
  $("#id_due_1").val('00:00:00');
  $("#id_quantity").val('1');
/*  $("#fields").resizable({
    handles:'e',
    minWidth:350,
    resize: function() {
      // Save the configuration if we don't get any more resizing events in 200ms.
      clearTimeout(resizing);
      resizing = setTimeout(saveColumnConfiguration, 200);
      }
  });
*/
  $("#id_itemul li a").click(function(){
    $("#id_item1").html($(this).text() + ' <span class="caret"></span>');
    $("#id_item").val($(this).text());
  });

  $("#id_customerul li a").click(function(){
    $("#id_customer1").html($(this).text() + ' <span class="caret"></span>');
    $("#id_customer").val($(this).text());
  });

  $("#id_locationul li a").click(function(){
    $("#id_location1").html($(this).text() + ' <span class="caret"></span>');
    $("#id_location").val($(this).text());
  });



});

</script>
{% endblock %} {% block extra_grid %}onSelectRow: displayInfo, {% endblock %} {% block after_table %}

<div class="row" style="white-space: nowrap;">
    <div class="col col-sm-6">

        <h1>{% trans "quote"|capfirst %}</h1>
        <form id="quoteform" class="form-horizontal">
            <input type='hidden' name='csrfmiddlewaretoken' value="{{ csrf_token }}" />
            <input type="hidden" id="id_customer" name="customer" value="1">
            <input type="hidden" id="id_location" name="location" value="1">
            <input type="hidden" id="id_item" name="item" value="1">

            <label for="id_name" class="col-sm-3 control-label"> {% trans "name"|capfirst %}:</label>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input class="form-control" id="id_name" maxlength="300" name="name"    type="text" />
            </div>

            <label for="id_description" class="col-sm-3 control-label">{%   trans "description"|capfirst %}:</label>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input class="form-control" id="id_description" maxlength="500" name="description" type="text" />
            </div>

            {{ form.quoteform.item }}
            <label for="id_item1"   class="col-sm-3 control-label">{% trans "item"|capfirst %}:</label>
            <div class="dropdown dropdown-submit-input col-sm-9" style="padding-bottom: 5px;">
                <button class="btn btn-default dropdown-toggle form-control" id="id_item1" value="" type="button" data-toggle="dropdown">
                  ------------&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-sm-12" aria-labelledby="id_item1" id="id_itemul" style="height: auto; max-height: 200px; overflow-x: hidden;">
                    {% for id, name in form.item.field.choices %}
                    <li><a name="{{id}}">{{name}}</a></li>
                  {% endfor %}
                </ul>
            </div>

            <label for="id_customer1" class="col-sm-3 control-label">{% trans "customer"|capfirst %}:</label>
            <div class="dropdown dropdown-submit-input col-sm-9" style="padding-bottom: 5px;">
                <button class="btn btn-default dropdown-toggle form-control" id="id_customer1" value="" type="button" data-toggle="dropdown">
                    ------------&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-sm-12" aria-labelledby="id_customer1" id="id_customerul" style="height: auto; max-height: 200px; overflow-x: hidden;">
          {% for id, name in form.customer.field.choices %}
          <li><a name="{{id}}">{{name}}</a></li>
          {% endfor %}
                </ul>
            </div>

            <label for="id_location1" class="col-sm-3 control-label">{% trans "location"|capfirst %}:</label>
            <div class="dropdown dropdown-submit-input col-sm-9" style="padding-bottom: 5px;">
                <button class="btn btn-default dropdown-toggle form-control" id="id_location1" value="1" type="button" data-toggle="dropdown">
                    ------------&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-sm-12" aria-labelledby="id_location1" id="id_locationul" style="height: auto; max-height: 150px; overflow-x: hidden;">
          {% for id, name in form.location.field.choices %}
          <li><a name="{{id}}">{{name}}</a></li>
          {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6">
                <label class="control-label" for="id_quantity">
                {% trans "quantity"|capfirst %}:
                </label>
                <input class="form-control" id="id_quantity" name="quantity" step="0.0001" type="number" value="0" min="0" />
            </div>
            <div class="col-sm-6">
                <label class="control-label" for="id_minshipment">
                {% trans "minimum shipment"|capfirst %}:
                </label>
                <input class="form-control" id="id_minshipment" name="minshipment" step="0.0001" type="number" value="0" min="0"/>
            </div>

            <div class="col-sm-4">
                <label class="control-label" for="id_due_0">
                {% trans "due date"|capfirst %}:
                </label>
                <input class="vDateField form-control" id="id_due_0" name="due_0" />
            </div>
            <div class="col-sm-4">
                <label class="control-label" for="id_due_1">
                {% trans    "Time"|capfirst %}:
                </label>
                <input class="vTimeField form-control" id="id_due_1" name="due_1" />
            </div>
            <div class="col-sm-4">
                <label class="control-label" for="id_maxlateness">
                {% trans "maximum lateness"|capfirst %}:
                </label>
                <input class="form-control" id="id_maxlateness" name="maxlateness" step="1" value="0" type="number" min="0"/>
            </div>

            <div class="col-sm-12">
            <br>
            </div>
        </form>

        <div class="form-horizontal">
      <div class="col-sm-3">
                <input type="submit" class="quotebutton btn btn-primary form-control" id="form_inquiry" value="{% trans 'inquiry'|capfirst %}" onclick="inquireQuote(event)">
      </div>
      <div class="col-sm-3">
                <input type="submit" class="quotebutton btn btn-primary form-control" id="form_quote" value="{% trans 'quote'|capfirst %}" onclick="getQuote(event)">
      </div>
      <div class="col-sm-3">
                {% comment %}Translators: Translation included with Django {% endcomment %}
                <input type="submit" class="quotebutton btn btn-primary form-control" id="form_cancel" value="{% filter capfirst|force_escape %}{% trans 'Cancel' %}{% endfilter %}" onclick="cancelQuote(event)">
      </div>
      <div class="col-sm-3">
                <input type="submit" class="quotebutton btn btn-primary form-control" id="form_confirm" value="{% trans 'confirm'|capfirst %}" onclick="confirmQuote(event)">
      </div>
        </div>
    </div>
    <div class="col col-sm-6" id="status" style="display: inline-block; overflow-x: auto; vertical-align: top">
        <h1>{% trans "deliveries"|capfirst %}</h1>
        <br />
        <h1>{% trans "problems"|capfirst %}</h1>
        <br />
        <h1>{% trans "why short or late?"|capfirst %}</h1>
    </div>
    {% endblock %}