{% extends "admin/base_site_grid.html" %}
{% load i18n %}
{% block contextmenus %}
{% include "demandcontext.html" %}
{% include "itemcontext.html" %}
{% include "customercontext.html" %}
{% include "operationcontext.html" %}
{% endblock %}
{% block extrahead %}{{block.super}}
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<style>
#id_name, #id_description {
  width: 20em;
}
.quotebutton {
  width: 23%;
  float: left;
  margin-left: 5px;
}
#status h1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>
<script type="text/javascript">

function extraPreference() {
  return {
     "height": $("#gbox_grid").height() - 48,
     "width": $("#fields").width()
     };
}

function getQuote(event)
{
  var $demand = $('<demand/>');
  $demand.attr("name",$("#id_name").val())
    .append( $('<description/>').text($("#id_description").val()) )
    .append( $('<quantity/>').text($("#id_quantity").val()) )
    .append( $('<item/>').attr("name", $("#id_item").val()) )
    .append( $('<due/>').text($("#id_due_0").val() + 'T' + $("#id_due_1").val()) )
    .append( $('<priority>1000000</priority>') );
  var v = $("#id_customer").val();
  if (v!=null && v!='')
    $demand.append( $('<customer/>').attr("name", v) );
  v = $("#id_minshipment").val();
  if (v!=null && v!='' && !isNaN(v))
    $demand.append( $('<minshipment/>').text(v) );
  else
    $demand.append( $('<minshipment/>').text(0) );
  v = $("#id_maxlateness").val();
  if (v!=null && v!='')
    $demand.append( $('<maxlateness/>').text(v) );
  var $demands = $('<demands/>').append($demand);
  var $plan = $('<plan/>').attr("xmlns:xsi","http://www.w3.org/2001/XMLSchema-instance").append($demands);
  var $root = $('<XMLDocument />').append($plan);
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/quote/',
    contentType: 'application/xml; charset=utf-8',
    data: $root.html(),
    dataType: 'xml',
    success: function (xmldata, status, jqXHR) {
      $("#id_name").val($(xmldata).find('demands > demand').attr('name'));
      $("#id_description").val($(xmldata).find('demands > demand > description').text());
      $("#id_item").val($(xmldata).find('demands > demand > item').attr('name'));
      $("#id_customer").val($(xmldata).find('demands > demand > customer').attr('name'));
      $("#id_quantity").val($(xmldata).find('demands > demand > quantity').text());
      var due = $(xmldata).find('demands > demand > due').text();
      $("#id_due_0").val(due.substring(0,10));
      $("#id_due_1").val(due.substring(11,19));
      $("#id_minshipment").val($(xmldata).find('demands > demand > minshipment').text());
      status = '<h1>{% trans "deliveries"|capfirst %}</h1>';
      $(xmldata).find('demands > demand > operationplans > operationplan').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('quantity').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
        })
      status += '<h1>{% trans "problems"|capfirst %}</h1>';
      $(xmldata).find('demands > demand > problems > problem').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('description').text() + '<br/>';
        })
      status += '<h1>{% trans "Why short or late?" %}</h1>';
      $(xmldata).find('demands > demand > constraints > problem').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('name').text() + '&nbsp;&nbsp;' + $(this).find('description').text() + '&nbsp;&nbsp;' + $(this).find('start').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
        })
      $('#status').html(status);
      jQuery("#grid").trigger('reloadGrid', [{current:true}])
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText)
        .dialog({
          title: gettext("Error"),
          autoOpen: true,
          resizable: false,
          width: 'auto',
          height: 'auto'
        });
      }
    });
  event.preventDefault();
}

function inquireQuote(event)
{
  var $demand = $('<demand/>');
  $demand.attr("name",$("#id_name").val())
    .append( $('<description/>').text($("#id_description").val()) )
    .append( $('<quantity/>').text($("#id_quantity").val()) )
    .append( $('<item/>').attr("name", $("#id_item").val()) )
    .append( $('<due/>').text($("#id_due_0").val() + 'T' + $("#id_due_1").val()) )
    .append( $('<priority>1000000</priority>') );
  var v = $("#id_customer").val();
  if (v!=null && v!='')
    $demand.append( $('<customer/>').attr("name", v) );
  v = $("#id_minshipment").val();
  if (v!=null && v!='' && !isNaN(v))
    $demand.append( $('<minshipment/>').text(v) );
  else
    $demand.append( $('<minshipment/>').text(0) );
  v = $("#id_maxlateness").val();
  if (v!=null && v!='')
    $demand.append( $('<maxlateness/>').text(v) );
  var $demands = $('<demands/>').append($demand);
  var $plan = $('<plan/>').attr("xmlns:xsi","http://www.w3.org/2001/XMLSchema-instance").append($demands);
  var $root = $('<XMLDocument />').append($plan);
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/inquiry/',
    contentType: 'application/xml; charset=utf-8',
    data: $root.html(),
    dataType: 'xml',
    success: function (xmldata, status, jqXHR) {
      $("#id_name").val($(xmldata).find('demands > demand').attr('name'));
      $("#id_description").val($(xmldata).find('demands > demand > description').text());
      $("#id_item").val($(xmldata).find('demands > demand > item').attr('name'));
      $("#id_customer").val($(xmldata).find('demands > demand > customer').attr('name'));
      $("#id_quantity").val($(xmldata).find('demands > demand > quantity').text());
      var due = $(xmldata).find('demands > demand > due').text();
      $("#id_due_0").val(due.substring(0,10));
      $("#id_due_1").val(due.substring(11,19));
      $("#id_minshipment").val($(xmldata).find('demands > demand > minshipment').text());
      $("#id_maxlateness").val($(xmldata).find('demands > demand > maxlateness').text());
      status = '<h1>{% trans "deliveries"|capfirst %}</h1>';
      $(xmldata).find('demands > demand > operationplans > operationplan').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('quantity').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
        })
      status += '<h1>{% trans "problems"|capfirst %}</h1>';
      $(xmldata).find('demands > demand > problems > problem').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('description').text() + '<br/>';
        })
      status += '<h1>{% trans "Why short or late?" %}</h1>';
      $(xmldata).find('demands > demand > constraints > problem').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('name').text() + '&nbsp;&nbsp;' + $(this).find('description').text() + '&nbsp;&nbsp;' + $(this).find('start').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
        })
      $('#status').html(status);
      jQuery("#grid").trigger('reloadGrid', [{current:true}])
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText)
        .dialog({
          title: gettext("Error"),
          autoOpen: true,
          resizable: false,
          width: 'auto',
          height: 'auto'
        });
      }
    });
  event.preventDefault();
}

function cancelQuote(event)
{
  var name = $("#id_name").val();
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/cancel/?name=' + encodeURIComponent(name),
    dataType: 'html',
    success: function (xmldata, status, jqXHR) {
      jQuery("#grid").trigger('reloadGrid', [{current:true}]);
      $("#id_name").val('');
      $("#id_description").val('');
      $("#id_item").val('');
      $("#id_customer").val('');
      $("#id_quantity").val('1');
      $("#id_due_0").val('');
      $("#id_due_1").val('00:00:00');
      $("#id_minshipment").val('1');
      $("#id_maxlateness").val('');
      $('#status').html('');
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText)
        .dialog({
          title: gettext("Error"),
          autoOpen: true,
          resizable: false,
          width: 'auto',
          height: 'auto'
        });
      }
    });
  event.preventDefault();
}

function confirmQuote(event)
{
  var name = $("#id_name").val();
  $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/confirm/?name=' + encodeURIComponent(name),
    dataType: 'html',
    success: function (xmldata, status, jqXHR) {
      jQuery("#grid").trigger('reloadGrid', [{current:true}]);
      $("#id_name").val('');
      $("#id_description").val('');
      $("#id_item").val('');
      $("#id_customer").val('');
      $("#id_quantity").val('1');
      $("#id_due_0").val('');
      $("#id_due_1").val('00:00:00');
      $("#id_minshipment").val('');
      $("#id_maxlateness").val('');
      $('#status').html('');
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText)
        .dialog({
          title: gettext("Error"),
          autoOpen: true,
          resizable: false,
          width: 'auto',
          height: 'auto'
        });
      }
    });
  event.preventDefault();
}

function displayInfo(rowid) {
 $.ajax({
    type: 'POST',
    url: '{{request.prefix}}/quote/info/',
    contentType: 'application/json; charset=utf-8',
    data: JSON.stringify([rowid]),
    dataType: 'xml',
    success: function (xmldata, status, jqXHR) {
      $("#id_name").val($(xmldata).find('demands > demand').attr('name'));
      $("#id_description").val($(xmldata).find('demands > demand > description').text());
      $("#id_item").val($(xmldata).find('demands > demand > item').attr('name'));
      $("#id_customer").val($(xmldata).find('demands > demand > customer').attr('name'));
      $("#id_quantity").val($(xmldata).find('demands > demand > quantity').text());
      var due = $(xmldata).find('demands > demand > due').text();
      $("#id_due_0").val(due.substring(0,10));
      $("#id_due_1").val(due.substring(11,19));
      $("#id_minshipment").val($(xmldata).find('demands > demand > minshipment').text());
      $("#id_maxlateness").val($(xmldata).find('demands > demand > maxlateness').text());
      status = '<h1>{% trans "deliveries"|capfirst %}</h1>';
      $(xmldata).find('demands > demand > operationplans > operationplan').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('quantity').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
        })
      status += '<h1>{% trans "problems"|capfirst %}</h1>';
      $(xmldata).find('demands > demand > problems > problem').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('description').text() + '<br/>';
        })
      status += '<h1>{% trans "Why short or late?" %}</h1>';
      $(xmldata).find('demands > demand > constraints > problem').each(function() {
        status += '&nbsp;&nbsp;' + $(this).find('name').text() + '&nbsp;&nbsp;' + $(this).find('description').text() + '&nbsp;&nbsp;' + $(this).find('start').text() + '&nbsp;&nbsp;' + $(this).find('end').text() + '<br/>';
        })
      $('#status').html(status);
    },
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText)
        .dialog({
          title: gettext("Error getting quote info"),
          autoOpen: true,
          resizable: false,
          width: 'auto',
          height: 'auto'
        });
      }
    });
}

$(function() {
  $(".date, .vDateField").datepicker({
      showOtherMonths: true, selectOtherMonths: true,
      dateFormat: "yy-mm-dd", changeMonth:true,
      changeYear:true, yearRange: "c-1:c+5"
      });
  $("#id_due_1").val('00:00:00');
  $("#form_quote").button().click(getQuote);
  $("#form_inquiry").button().click(inquireQuote);
  $("#form_cancel").button().click(cancelQuote);
  $("#form_confirm").button().click(confirmQuote);
  $("#fields").resizable({
    handles:'e',
    minWidth:350,
    resize: function() {
      // Save the configuration if we don't get any more resizing events in 200ms.
      clearTimeout(resizing);
      resizing = setTimeout(saveColumnConfiguration, 200);
      }
    });
});

</script>
{% endblock %}
{% block extra_grid %}onSelectRow: displayInfo,
{% endblock %}
{% block after_table %}
<br/>
<div style="padding: 5px; float:left; width:100%; white-space: nowrap; overflow:hidden">
<div id="fields" style="display: inline-block; width:{% if "heigth" in preferences %}{{preferences.width}}{% else %}600{% endif %}px">
<h1>{% trans "quote"|capfirst %}</h1>
<form class="form" id="quoteform" class="form">{% csrf_token %}
<table><tbody>{% for field in form %}<tr>
<th style="text-align:right; vertical-align:middle;">{{ field.label_tag }}</th>
<td>{{ field.errors }}{{ field }}</td>
</tr>
{% endfor %}</tbody></table>
<br/>
<div class="quotebutton"><button style="width:100%" id="form_inquiry">{% trans 'inquiry'|capfirst %}</button></div>
<div class="quotebutton"><button style="width:100%" id="form_quote">{% trans 'quote'|capfirst %}</button></div>
<div class="quotebutton"><button style="width:100%" id="form_cancel">{% trans 'Cancel'|escape context "Included in Django" %}</button></div>
<div class="quotebutton"><button style="width:100%" id="form_confirm">{% trans 'confirm'|capfirst %}</button></div>
</form>
</div>
<div id="status" style="display: inline-block; overflow-x: auto; vertical-align:top"><h1>{% trans "deliveries"|capfirst %}</h1><br/>
<h1>{% trans "problems"|capfirst %}</h1><br/>
<h1>{% trans "Why short or late?" %}</h1></div>
{% endblock %}
