{% extends "admin/base_site_gridpivot.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/flotr2.min.js"></script>
{% endblock %}

{% block contextmenus %}
{% include "itemcontext.html" %}
{% include "forecastcontext.html" %}
{% include "customercontext.html" %}
<div id="detailcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
<li class="ui-menu-item"><a id="{{request.prefix}}/demandplan/?demand__startswith={value}&amp;o=5a&amp;plandate__gte={startdate}&amp;plandate__lt={enddate}">{% trans 'Detail' %}</a></li>
</ul></div>
{% endblock %}

{% block tools %}{% if args.0 %}
{% include "forecasttabs.html" %}
{% endif %}{{block.super}}
{% endblock %}

{% block before_table %}{% if args.0 %}
<div id="graph" style="clear: both; height: 400px; padding: 10px; "></div>
{% endif %}{% endblock %}

{% block crosses %}
{% if args.0 %}$(function(){
  // Resize top graph
  var h = $(window).height();
  $("#graph").width($(window).width()-55).height(h>800 || h<480 ? 400 : h-380);
});{% endif %}

function drawGraphs(jsondata)
{
  var cols = jQuery("#grid").jqGrid('getGridParam', 'colModel');
  var x_major = [];
  var x_minor = [];
  var first = true;
  var ticks = Math.ceil((cols.length-5)/20.0);

  // Loop over all graph cells
  $("#grid_frozen").find(".graph").each(function(index)
  {
    // Collect the graph data
    var d0=[], d1=[], d3=[]{% if args.0 %}, d4=[], d5=[], d6=[], d7=[], d8=[], d9=[]{% endif%};
    var j = 0;
    for (var i in cols)
    {
       if ('startdate' in cols[i])
       {
          if (first)
          {
            x_minor.push([j,cols[i]['name']]);
            if (j % ticks == 0) x_major.push([j,cols[i]['name']]);
          }
          var data = jsondata['rows'][index][cols[i]['name']];
          d0.push([j, (data[10] == 1) ? data[0] : null]); // Total orders
          d1.push([j, data[1]]);  // Open orders
          d3.push([j, (data[11] == 1) ? data[3] : null]); // Baseline forecast
          {% if args.0 %}d4.push([j,data[4]]);  // Forecast adjustment
          d5.push([j,data[5]]);  // Forecast total
          d6.push([j,data[6]]);  // Forecast net
          d7.push([j,data[7]]);  // Forecast consumed
          d8.push([j,data[8]]);  // Planned orders
          d9.push([j,data[9]]);  // Planned forecast
          {% endif%}j = j + 1;
       }
    }
    first = false;

    // Draw the graph
    Flotr.draw({% if args.0 %}$("#graph").get(0){% else %}this{% endif %},[
      { data:d0,
        label:"{{_('total orders')|capfirst}}",
        lines : {
          fillOpacity: 1,
          shadowSize : 0,
          fill: false,
          show : true
          }
      },
      { data:d1,
        label:"{{_('open orders')|capfirst}}",
        lines : {
          fillOpacity: 1,
          shadowSize : 0,
          fill: false,
          show : true
          }
        /*
        bars : {
          show : true,
          fillOpacity: 1,
          barWidth : 0.45,
          lineWidth : 1,
          shadowSize : 0,
          }
        */
      },
      { data:d3,
        label:"{{_('forecast baseline')|capfirst}}",
        lines : {
          show : true,
          stacked : false,
          horizontal : false,
          fillOpacity: 1,
          barWidth : 0.9,
          lineWidth : 1,
          shadowSize : 0
        }
      }{% if args.0 %},
      { data:d4,
        label:"{{_('forecast adjustment')|capfirst}}",
        bars : {
          show : true,
          fillOpacity: 1,
          barWidth : 0.45,
          lineWidth : 1,
          shadowSize : 0
          }
      },
      { data:d5,
        label:"{{_('forecast total')|capfirst}}",
        lines : {
          show : true,
          stacked : false,
          horizontal : false,
          fillOpacity: 1,
          barWidth : 0.9,
          lineWidth : 1,
          shadowSize : 0
        }
      },
      { data:d6,
        label:"{{_('forecast net')|capfirst}}",
        lines : {
          show : true,
          stacked : false,
          horizontal : false,
          fillOpacity: 1,
          barWidth : 0.9,
          lineWidth : 1,
          shadowSize : 0
        }
      },
      { data:d7,
        label:"{{_('forecast consumed')|capfirst}}",
        lines : {
          show : true,
          stacked : false,
          horizontal : false,
          fillOpacity: 1,
          barWidth : 0.9,
          lineWidth : 1,
          shadowSize : 0
        }
      },
      { data:d8,
        label:"{{_('planned orders')|capfirst}}",
        lines : {
          show : true,
          stacked : false,
          horizontal : false,
          fillOpacity: 1,
          barWidth : 0.9,
          lineWidth : 1,
          shadowSize : 0
        }
      },
      { data:d9,
        label:"{{_('planned net forecast')|capfirst}}",
        lines : {
          show : true,
          stacked : false,
          horizontal : false,
          fillOpacity: 1,
          barWidth : 0.9,
          lineWidth : 1,
          shadowSize : 0
        }
      }{% endif %}
      ], {
      HtmlText: false,
      {% if args.0 %}
      legend : {
        position: 'ne',
        backgroundOpacity: 1,
        },
      grid : {
        verticalLines : false,
        horizontalLines : true,
        },
      xaxis: {
        ticks: x_major
        },
      yaxis: {
        title: '{{units.1|capfirst}}',
        titleAngle: 90
        },
      {% else %}
      legend: {
        show: false
        },
      grid : {
        verticalLines : false,
        horizontalLines : false,
        outlineWidth: 0
        },
      xaxis: {
        showLabels: false
        },
      yaxis: {
        showLabels: false
        },
      {% endif %}
      mouse : {
        track : true,
        relative : true,
        trackFormatter: function(obj) {
          return x_minor[Math.round(obj.x)][1] + "<br/>" + obj.y; // TODO not good JSON.stringify(obj);
          }
        },
      colors: ['#F6BD0F','#2B95EC','#FF0000','#AFD8F8','#8BBA00'],
      parseFloat: false
      });
    });
}

function graph(cellvalue, options, rowdata)
{
  return '<div class="graph" style="width:' + (10*numbuckets < 200 ? 10*numbuckets : 200) +'px; height:160px;"></div>';
};

function getDirtyData()
{
  var changes = [];
  $(".dirty-cell").each( function() {
    var curCol = jQuery.jgrid.getCellIndex($(this).closest("td,th"));
    var curRow = $(this).closest("tr").attr('id');
    var colmodel = jQuery("#grid").jqGrid ('getGridParam', 'colModel')[curCol];
    if ($(this).hasClass('adjhistory'))
      changes.push({'id': curRow, 'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjHistory': $(this).val()});
    else
      changes.push({'id': curRow, 'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjForecast': $(this).val()});
    });
  return changes;
}

function onChange(event)
{
  $(event.target).addClass('dirty-cell');
  upload.select();
}

function crosses (cellvalue, options, rowdata)
{
  // Total orders
  if (cellvalue[0] != 0.0)
    var result = Math.round(cellvalue[0]) + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail'></span><br/>";
  else
    var result = '0<br/>';
  // Open orders
  if (cellvalue[1] != 0.0)
    result += Math.round(cellvalue[1]) + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail'></span><br/>";
  else
    result += '0<br/>';
  // Orders adjustment{% if perms.forecast.change_forecastdemand %}
  if (cellvalue[10] == 1)
    result += '<input type="text" class="smallpadding adjhistory" value="' + Math.round(cellvalue[2]) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  else
    result += '<br/>';
  {% else %}
  result += Math.round(cellvalue[2]) + '<br/>';{% endif %}
  // Baseline forecast
  if (cellvalue[11] == 1)
    result += (Math.round(cellvalue[3]*10)/10) + '<br/>';
  else
    result += '<br/>';
  // Forecast adjustment{% if perms.forecast.change_forecastdemand %}
  if (cellvalue[11] == 1)
    result += '<input type="text" class="smallpadding adjforecast" value="' + (Math.round(cellvalue[4]*10)/10) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  else
    result += '<br/>';
  {% else %}
  if (cellvalue[11] == 1)
    result += (Math.round(cellvalue[4]*10)/10) + '<br/>';
  else
  result += '<br/>';{% endif %}
  if (cellvalue[11] == 1)
  {
     // Forecast total
     result += (Math.round(cellvalue[5]*10)/10) + "<br/>";
     // Forecast net
     result += (Math.round(cellvalue[6]*10)/10) + "<br/>";
     // Forecast consumed
     result += (Math.round(cellvalue[7]*10)/10) + "<br/>";
     // Orders planned
     if (cellvalue[8] != 0.0)
       result += (Math.round(cellvalue[8]*10)/10) + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail'></span><br/>";
     else
       result += '0<br/>';
     // Forecast planned
     if (cellvalue[9] != 0.0)
       result += (Math.round(cellvalue[9]*10)/10) + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail'></span><br/>";
     else
       result += '0<br/>';
  }
  else
     result += '<br/><br/><br/><br/><br/>';
  return result;
};
{% endblock %}

{% block extra_grid %}loadComplete: drawGraphs,
{% endblock %}