{% extends "admin/base_site_grid.html" %}

{% block extrahead %}{{block.super}}
<script type="text/javascript">
jQuery.extend($.fn.fmatter, {	
  drp: function drp( cellvalue, options, row ){
    if (cellvalue === undefined || cellvalue === '' || cellvalue === null) return '';
    return cellvalue + "<a href='{{request.prefix}}/inventoryplanning/drp/" + admin_escape(row['item']) + '/' + admin_escape(row['destination']) + "/'><span class='leftpadding fa fa-caret-right'></span></a>";
  }
});
</script>
{% endblock %}
