{% extends "admin/base_site_grid.html" %}
{% load i18n %}

{% comment %}
  TODO:
  - backend: data for plan
  - save parameters, plan, forecast
  - view history
  - transaction actions
  - toggle value & units
  - different views for the top section
  - tree in top grid
{% endcomment %}

{% block contextmenus %}
{% include "buffercontext.html" %}
{% include "itemcontext.html" %}
{% include "locationcontext.html" %}
{% endblock %}

{% block extra_grid %}onSelectRow: selectRow,{% endblock %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
<script type="text/javascript">

var showtab = null;
var result = null;
var forecastcurrentbucket = 0;

var timebuckets = [ {% for f in request.report_bucketlist %}{% if not forloop.first %},{% endif %}{'name':'{{f.name}}','startdate':'{{f.startdate|date:"Y-m-d"}}','enddate':'{{f.enddate|date:"Y-m-d"}}'}{% endfor %} ];

function selectRow(id)
{
  if (!!result && id == result.name)
    // Selection has not changed
    return;

  $.ajax({
    url: '{{request.prefix}}/inventoryplanning/drpitemlocation/' + admin_escape(id) + '/',
    type: 'GET',
    success: displayResult,
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText + "  " + stat + errorThrown).dialog({
        title: gettext("Error retrieving data"),
        autoOpen: true,
        resizable: false,
        width: 'auto',
        height: 'auto'
      });
      }
    });
}

function extraPreference()
{
  // TODO save settings on forecast, planning and transaction tabs
  return {
     "height": $("#gbox_grid").height() - 48,
     "showtab": showtab
     };
}

function save(event)
{
  event.preventDefault();
  if (result == null)
    return;

  // Build the results to send back to the server
  var data = {};
  $("#commentitemlocation.red").each(function() {
    data["comment"] = $("#newcomment").val();
    data["commenttype"] = "itemlocation";
    });
  $("#commentlocation.red").each(function() {
    data["comment"] = $("#newcomment").val();
    data["commenttype"] = "location";
    });
  $("#commentitem.red").each(function() {
    data["comment"] = $("#newcomment").val();
    data["commenttype"] = "item";
    });

  // Send the results back to the server
  $.ajax({
    url: '{{request.prefix}}/inventoryplanning/drpitemlocation/' + admin_escape(result.name) + '/',
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: function() {
      // TODO reset style of the save button
      },
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText + "  " + stat + errorThrown).dialog({
        title: gettext("Error posting data"),
        autoOpen: true,
        resizable: false,
        width: 'auto',
        height: 'auto'
      });
      }
    });
    
  // Reset the buttons
  $('#undo').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
  $('#save').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
}

function onChange(event)
{
  $(event.target).addClass('dirty-cell');
  upload.select();
}


function undo()
{
  /* Experimental code to detach the content in a new window
  var w = window.open();
  w.document.body.innerHTML =
    '<!DOCTYPE html><html lang="en"><head>' +
    '<title>Distribution planning - frePPLe</title>' +
    '<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />' +
    '<meta http-equiv="X-UA-Compatible" content="IE=edge" />' +
    '<meta name="robots" content="NONE,NOARCHIVE" />' +
    '<link rel="stylesheet" type="text/css" media="screen" href="/static/css/frepple/jquery-ui.min.css" />' +
    '<link rel="stylesheet" type="text/css" media="screen" href="/static/css/font-awesome.min.css" />' +
    '<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />' +
    '<link rel="stylesheet" type="text/css" media="screen" href="/static/css/uix.multiselect.css" />' +
    '<link rel="stylesheet" type="text/css" href="/static/css/frepple.css" />' +
    '<link rel="stylesheet" type="text/css" href="/static/css/frepple/custom.css" />' +
    '<link rel="shortcut icon" href="/static/favicon.ico"/>' +
    '<s' + 'cript type="text/javascript" src="/data/jsi18n/"></s' + 'cript>' +
    '<s' + 'cript type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></s' + 'cript>' +
    '<s' + 'cript type="text/javascript" src="/static/js/jquery-ui-1.10.4.min.js"></s' + 'cript>' +
    '<s' + 'cript type="text/javascript" src="/static/js/i18n/jquery.ui.datepicker-en.js"></s' + 'cript>' +
    '<s' + 'cript src="/static/js/i18n/grid.locale-en.js" type="text/javascript"></s' + 'cript>' +
    '<s' + 'cript src="/static/js/jquery.jqGrid.min.js" type="text/javascript"></s' + 'cript>' +
    '<s' + 'cript src="/static/js/jquery.uix.multiselect.min.js" type="text/javascript"></s' + 'cript>' +
    '<s' + 'cript src="/static/js/i18n/jquery.uix.multiselect_en.js"></s' + 'cript>' +
    '<s' + 'cript type="text/javascript" src="/static/js/frepple.js"></s' + 'cript></head><body>'
    +  $("#detail").html() +"</body>";
  */
  displayResult(result);
  
  // Reset the buttons
  $('#undo').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
  $('#save').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
}

function forecastfields()
{
  var col =
    '{{_("total orders - year-3")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">{{_("orders adjustment - year-3")|capfirst}}' + "</span><br/>" +
    '{{_("total orders - year-2")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">{{_("orders adjustment - year-2")|capfirst}}' + "</span><br/>" +
    '{{_("total orders - year-1")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">{{_("orders adjustment - year-1")|capfirst}}' + "</span><br/>" +
    '{{_("total orders")|capfirst}}' + "<br/>" +
    '{{_("open orders")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">' + '{{_("orders adjustment")|capfirst}}' + "</span><br/>" +
    '{{_("forecast baseline")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">' + '{{_("forecast adjustment")|capfirst}}' + "</span><br/>";
  return col;
}

function planfields()
{
  var col =
    '{{_('reorder quantity')|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">' + '{{_("reorder quantity override")|capfirst}}' + "</span><br/>" +
    '{{_("safety stock")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">' + '{{_("safety stock override")|capfirst}}' + "</span><br/>" +
    '{{_("starting inventory")|capfirst}}' + "<br/>" +
    '{{_("local forecast")|capfirst}}' + "<br/>" +
    '{{_("local orders")|capfirst}}' + "<br/>" +
    '{{_("dependent demand")|capfirst}}' + "<br/>" +
    '{{_("total demand")|capfirst}}' + "<br/>" +
    '{{_("confirmed purchases")|capfirst}}' + "<br/>" +
    '{{_("confirmed transfers")|capfirst}}' + "<br/>" +
    '{{_("proposed purchases")|capfirst}}' + "<br/>" +
    '{{_("proposed transfers")|capfirst}}' + "<br/>" +
    '{{_("total supply")|capfirst}}' + "<br/>" +
    '{{_("ending inventory")|capfirst}}' + "<br/>";
  return col;
}


function forecastcell(cellvalue, options, rowObject)
{
  var cell = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 1];
  var cell_min1 = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 13];
  var cell_min2 = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 25];
  var cell_min3 = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 37];
  if (!cell) return "";
  var cellstring = "";
  if (!cell_min3)
    cellstring += "<br/><br/>";
  else
  {
    cellstring += cell_min3.orderstotal + "<br/>";
    cellstring += '<input type="text" class="smallpadding adjhistory" value="' + ((cell_min3.ordersadjustment === null) ? '' : Math.round(cell_min3.ordersadjustment)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  }
  if (!cell_min2)
    cellstring += "<br/><br/>";
  else
  {
    cellstring += cell_min2.orderstotal + "<br/>";
    cellstring += '<input type="text" class="smallpadding adjhistory" value="' + ((cell_min2.ordersadjustment === null) ? '' : Math.round(cell_min2.ordersadjustment)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  }
  if (!cell_min1)
    cellstring += "<br/><br/>";
  else
  {
    cellstring += cell_min1.orderstotal + "<br/>";
    cellstring += '<input type="text" class="smallpadding adjhistory" value="' + ((cell_min1.ordersadjustment === null) ? '' : Math.round(cell_min1.ordersadjustment)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  }
  cellstring += cell.orderstotal + "<br/>";
  cellstring += cell.ordersopen + "<br/>";{% if perms.forecast.change_forecastdemand %}
  cellstring += '<input type="text" class="smallpadding adjhistory" value="' + ((cell.ordersadjustment === null) ? '' : Math.round(cell.ordersadjustment)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  {% else %}
  cellstring += Math.round(cell.ordersadjustment) + '<br/>';{% endif %}
  cellstring += cell.forecastbaseline + "<br/>";{% if perms.forecast.change_forecastdemand %}
  cellstring += '<input type="text" class="smallpadding adjforecast" value="' + ((cell.forecastadjustment === null) ? '' : Math.round(cell.forecastadjustment)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  {% else %}
  cellstring += Math.round(cell.forecastadjustment) + '<br/>';{% endif %}
  return cellstring;
}

function plancell(cellvalue, options, rowObject)
{
  var cell = result.plan[parseInt(options.pos) - 1];
  if (!cell) return "s";
  var cellstring = "";
  cellstring += cell.roq + "<br/>"{% if perms.forecast.change_forecastdemand %}
  cellstring += '<input type="text" class="smallpadding adjroqoverride" value="' + ((cell.roqoverride === null) ? '' : Math.round(cell.roqoverride)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  {% else %}
  cellstring += Math.round(cell.roqoverride) + '<br/>';{% endif %}
  cellstring += cell.ss + "<br/>"{% if perms.forecast.change_forecastdemand %}
  cellstring += '<input type="text" class="smallpadding ssoverride" value="' + ((cell.ssoverride === null) ? '' : Math.round(cell.roqoverride)) + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>';
  {% else %}
  cellstring += Math.round(cell.ssoverride) + '<br/>';{% endif %}
  cellstring += cell.startoh + "<br/>";
  cellstring += cell.dmdfcstlocal + "<br/>";
  cellstring += cell.dmdorderslocal + "<br/>";
  cellstring += cell.dmddependent + "<br/>";
  cellstring += cell.dmdtotal + "<br/>";
  cellstring += cell.poconfirmed + "<br/>";
  cellstring += cell.doconfirmed + "<br/>";
  cellstring += cell.poproposed + "<br/>";
  cellstring += cell.doproposed + "<br/>";
  cellstring += cell.supply + "<br/>";
  cellstring += cell.endoh + "<br/>";
  return cellstring;
}

/*
{"doproposed":null,"endoh":1,"startoh":0,"dmddependent":null,"roqoverride":null,"roq":null,"dmdorderslocal":null,"doconfirmed":null,"poproposed":null,"bucket":"Jan 11","poconfirmed":null,"ss":null,"ssoverride":null,"supply":null,"dmdfcstlocal":null,"dmdtotal":null},
*/

function displayPlanGraph()
{
  var margin = {top: 0, right: 100, bottom: 30, left: 50};
  var width = $("#content-main").width() - margin.left - margin.right;
  var height = $("#plangraph").height() - margin.top - margin.bottom;

  // Define X-axis
  var domain_x = [];
  var bucketnamelength = 0;
  for (var i in result.plan)
  {
    domain_x.push(result.plan[i].bucket);
    bucketnamelength = Math.max(result.plan[i].bucket.length, bucketnamelength);
  }
  var x = d3.scale.ordinal()
    .domain(domain_x)
    .rangeRoundBands([0, width], .1);
  var x_width = x.rangeBand();

  // Define Y-axis
  var y = d3.scale.linear().rangeRound([height, 0]);

  // Create a new SVG element
  $($("#plangraph").get(0)).html("");
  var svg = d3.select($("#plangraph").get(0))
    .append("svg")
    .attr("class","graphcell")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Get the maxima of the values
  var max_y = 0;
  var min_y = 0;
  for (var i in result.plan)
  {
    var tmp = result.plan[i];
    if (tmp.startoh > max_y)
       max_y = tmp.orderstotal;
    if (tmp.dmdtotal > max_y)
       max_y = tmp.dmdtotal;
    if (tmp.supply > max_y)
       max_y = tmp.supply;
    if (tmp.endoh > max_y)
       max_y = tmp.endoh;
    if (tmp.startoh < min_y)
       min_y = tmp.startoh;
    if (tmp.dmdtotal < min_y)
       min_y = tmp.dmdtotal;
    if (tmp.supply < min_y)
       min_y = tmp.supply;
    if (tmp.endoh < min_y)
       min_y = tmp.endoh;
  }

  // Update the scale of the Y-axis by looking for the max value
  y.domain([min_y, max_y]);
  var y_zero = y(0);

  // Create D3 bars
  var my_y;
  svg.selectAll("g")
    .data(result.plan)
    .enter()
    .append("g")
    .attr("transform", function(d) { return "translate(" + x(d.bucket) + ",0)"; })
    .on("click", function(d) {
        if (d3.event.defaultPrevented || (d.supply == 0 && d.dmdtotal == 0))
          return;
        d3.select("#tooltip").style('display', 'none');
        d3.event.stopPropagation();
      })
    .on("mouseenter", function(d) {
       graph.showTooltip(
         '<div style="text-align:center; font-weight:bold">'
         + d.bucket + '</div>'
         + '<table><tr><td>{{_('reorder quantity')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.roq*10)/10)
         + '</td></tr><tr><td>{{_('reorder quantity override')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.roqoverride*10)/10)
         + '</td></tr><tr><td>{{_('safety stock')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.ss*10)/10)
         + '</td></tr><tr><td>{{_('safety stock override')|capfirst}}</td><td style="text-align:right">'
         + ((d.ssoverride === null) ? '' : (Math.round(d.ssoverride*10)/10))
         + '</td></tr><tr><td>{{_('start inventory')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.startoh*10)/10)
         + '</td></tr><tr><td>{{_('end inventory')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.endoh*10)/10)
         + '</td></tr></table>'
         );
      })
    .on("mouseleave", graph.hideTooltip)
    .on("mousemove", graph.moveTooltip)
    .each(function(d) {
      var bucket = d3.select(this);
      var top;
      if (d['ordersopen'] > 0)
      {
        my_y = y(d['ordersopen']);
        bucket.append("rect")
          .attr("width", x_width/2)
          .attr("height", y_zero - my_y)
          .attr("x", x_width/2)
          .attr("y", my_y)
          .style("fill","#2B95EC");
      }
      if (d['ordersplanned'] > 0)
      {
        top = y(d['ordersplanned']);
        bucket.append("rect")
          .attr("width", x_width/2)
          .attr("y", top)
          .attr("height", y_zero - top)
          .style("fill","#7B5E08");
      }
      if (d['forecastplanned'] > 0)
      {
        bucket.append("rect")
          .attr("width", x_width/2)
          .attr("y", y(d['forecastplanned'] + d['ordersplanned']))
          .attr("height", y(d['ordersplanned']) - y(d['forecastplanned'] + d['ordersplanned']))
          .style("fill","#F6BD0F");
      }
    });

  // Create D3 lines
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return y(d.orderstotal); });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#8BBA00")
    .attr("d", line(result.forecast));
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return d['future']==1 ? y(d['forecasttotal']) : y_zero; });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#FF0000")
    .attr("d", line(result.forecast));

  // Display Y-Axis
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  // Display X-axis
  var nth = Math.ceil(result.plan.length / width * bucketnamelength * 10);
  var myticks = [];
  for (var i in result.plan)
    if (i % nth == 0) myticks.push(result.plan[i].bucket);
  var xAxis = d3.svg.axis()
    .scale(x)
    .tickValues(myticks)
    .orient("bottom");
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  // Display legend
  var legend = svg.append("g");
  var codes = [
    ["{{_('start inventory')|capfirst}}", "#8BBA00"],
    ["{{_('produced')|capfirst}}", "#2B95EC"],
    ["{{_('consumed')|capfirst}}", "#F6BD0F"],
    ["{{_('end inventory')|capfirst}}", "#7B5E08"]
    ];
  var visible = 0;
  for (var i in codes)
  {
    legend.append("rect")
      .attr("x", width + 82)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", codes[i][1])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    legend.append("text")
      .attr("x", width + 76)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(codes[i][0])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    visible += 1;
  }
}


function displayForecastGraph()
{
  var margin = {top: 0, right: 100, bottom: 30, left: 50};
  var width = $("#content-main").width() - margin.left - margin.right;
  var height = $("#forecastgraph").height() - margin.top - margin.bottom;

  // Define X-axis
  var domain_x = [];
  var bucketnamelength = 0;
  for (var i in result.forecast)
  {
    domain_x.push(result.forecast[i].bucket);
    bucketnamelength = Math.max(result.forecast[i].bucket.length, bucketnamelength);
    if (result.forecast[i].bucket == timebuckets[0].name)
      forecastcurrentbucket = i;
  }
  var x = d3.scale.ordinal()
    .domain(domain_x)
    .rangeRoundBands([0, width], .1);
  var x_width = x.rangeBand();

  // Define Y-axis
  var y = d3.scale.linear().rangeRound([height, 0]);

  // Create a new SVG element
  $($("#forecastgraph").get(0)).html("");
  var svg = d3.select($("#forecastgraph").get(0))
    .append("svg")
    .attr("class","graphcell")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Get the maxima of the values
  var max_y = 0;
  var min_y = 0;
  for (var i in result.forecast)
  {
    var tmp = result.forecast[i];
    if (tmp.orderstotal > max_y)
       max_y = tmp.orderstotal;
    if (tmp.forecasttotal > max_y)
       max_y = tmp.forecasttotal;
    if (tmp.orderstotal < min_y)
       min_y = tmp.orderstotal;
    if (tmp.forecasttotal < min_y)
       min_y = tmp.forecasttotal;
  }

  // Update the scale of the Y-axis by looking for the max value
  y.domain([min_y, max_y]);
  var y_zero = y(0);

  // Create D3 bars
  var my_y;
  svg.selectAll("g")
    .data(result.forecast)
    .enter()
    .append("g")
    .attr("transform", function(d) { return "translate(" + x(d.bucket) + ",0)"; })
    .on("click", function(d) {
        if (d3.event.defaultPrevented)
          return;
        d3.select("#tooltip").style('display', 'none');
        d3.event.stopPropagation();
      })
    .on("mouseenter", function(d) {
       graph.showTooltip(
         '<div style="text-align:center; font-weight:bold">'
         + d.bucket + '</div>'
         + '<table><tr><td>{{_('total orders')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.orderstotal*10)/10)
         + '</td></tr><tr><td>{{_('open orders')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.ordersopen*10)/10)
         + '</td></tr><tr><td>{{_('orders adjustment')|capfirst}}</td><td style="text-align:right">'
         + ((d.ordersadjustment === null) ? '' : (Math.round(d.ordersadjustment*10)/10))
         + '</td></tr><tr><td>{{_('forecast baseline')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecastbaseline*10)/10)
         + '</td></tr><tr><td>{{_('forecast adjustment')|capfirst}}</td><td style="text-align:right">'
         + ((d.forecastadjustment === null) ? '' : Math.round(d.forecastadjustment*10)/10)
         + '</td></tr><tr><td>{{_('forecast total')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecasttotal*10)/10)
         + '</td></tr><tr><td>{{_('forecast net')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecastnet*10)/10)
         + '</td></tr><tr><td>{{_('forecast consumed')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecastconsumed*10)/10)
         + '</td></tr></table>'
         );
      })
    .on("mouseleave", graph.hideTooltip)
    .on("mousemove", graph.moveTooltip)
    .each(function(d) {
      var bucket = d3.select(this);
      var top;
      if (d.ordersopen > 0)
      {
        my_y = y(d.ordersopen);
        bucket.append("rect")
          .attr("width", x_width)
          .attr("height", y_zero - my_y)
          .attr("x", x_width/2)
          .attr("y", my_y)
          .style("fill","#2B95EC");
      }
    });

  // Create D3 lines
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return y(d.orderstotal); });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#8BBA00")
    .attr("d", line(result.forecast));
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return y(d['forecasttotal']); });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#FF0000")
    .attr("d", line(result.forecast));

  // Display Y-Axis
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  // Display X-axis for a single forecast
  var nth = Math.ceil(result.forecast.length / width * bucketnamelength * 10);
  var myticks = [];
  for (var i in result.forecast)
    if (i % nth == 0) myticks.push(result.forecast[i].bucket);
  var xAxis = d3.svg.axis()
    .scale(x)
    .tickValues(myticks)
    .orient("bottom");
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  // Display legend
  var legend = svg.append("g");
  var codes = [
    ["{{_('open orders')|capfirst}}", "#2B95EC", 1],
    ["{{_('total orders')|capfirst}}", "#8BBA00", 0],
    ["{{_('forecast total')|capfirst}}", "#FF0000", 5]
    ];
  var visible = 0;
  for (var i in codes)
  {
    legend.append("rect")
      .attr("x", width + 82)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", codes[i][1])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    legend.append("text")
      .attr("x", width + 76)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(codes[i][0])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    visible += 1;
  }
}


function displayResult(data)
{
  result = data;

  // Debugging
  $("#parameters").html(JSON.stringify(data));

  // Enable input elements
  $("#save, #undo, #commentitem, #commentitemlocation, #commentlocation").prop('disabled', false);

  // Update title
  if (result.type == "itemlocation")
    $("#detailtitle").html("{{_('buffer')|capfirst|escape}} " + result.name);
  else if (result.type == "item")
    $("#detailtitle").html("{{_('item')|capfirst|escape}} " + result.name);
  else if (result.type == "itemlocation")
    $("#detailtitle").html("{{_('location')|capfirst|escape}} " + result.name);

  // Update the forecasting parameters
  $("#forecastmethod").val(data.parameters.forecastmethod);
  $("#forecasterror").html(data.parameters.forecasterror);

  // Update the inventory planning parameters
  if (data.parameters.roq_min_qty != "")
     $('input[name="roq_type"]').val("qty");
  else if (data.parameters.roq_min_poc != "")
     $('input[name="roq_type"]').val("poc");
  else
     $('input[name="roq_type"]').val("eoq");
  if (data.parameters.ss_min_qty != "")
     $('input[name="ss_type"]').val("qty");
  else if (data.parameters.ss_min_poc != "")
     $('input[name="ss_type"]').val("poc");
  else
     $('input[name="ss_type"]').val("svc");
  $("#eoq").html(data.parameters.eoq);
  $("#roq_min_qty").html(data.parameters.roq_min_qty);
  $("#roq_min_poc").html(data.parameters.roq_min_poc);
  $("#service_level_qty").html(data.parameters.service_level_qty);
  $("#service_level").html(data.parameters.service_level);
  $("#demand_distribution").val(data.parameters.demand_distribution);
  $("#demand_deviation").html(data.parameters.demand_deviation);
  $("#leadtime_deviation").html(data.parameters.leadtime_deviation);
  $("#ss_min_qty").html(data.parameters.ss_min_qty);
  $("#ss_min_poc").html(data.parameters.ss_min_poc);
  $("#nostock").prop('checked', data.parameters.nostock == "True");

  // Show comments
  $("#commentlocation, #commentitem, #commentitemlocation").removeClass("red");
  $("#newcomment:visible").css("display", "none");
  var comments = $("#pastcomments");
  comments.empty();
  for (var c in result.comments)
  {
    $("<hr/>").appendTo(comments);
    $("<h3/>").text(result.comments[c].user + " " + result.comments[c].type).appendTo(comments);
    $("<span class='float_right'></span>").text(result.comments[c].lastmodified).appendTo(comments);
    $("<pre/>").text(result.comments[c].comment).appendTo(comments);
  }

  // Show forecast tab
  displayForecastGraph(); // this function also sets the variable firstforecastbucket
  if (!$.trim($("#forecastgrid").html()))
  {
    // Forecast grid displayed for the first time
    $("#forecastgrid").jqGrid({
      data: [1],  // Dummy: single row
      datatype: 'local',
      jsonReader: { repeatitems: false },
      hoverrows: false,
      colModel:[
         {name:'fields',index:'fields',editable:false,label:'{% trans "fields"|capfirst %}',align:'left',title:false,key:true,counter:0,frozen:true,sortable:false,formatter:forecastfields},
         {% for f in request.report_bucketlist %}{% if not forloop.first %},
         {% endif %}{ name:'{{f.name|safe}}',startdate:'{{f.startdate|date:"Y-m-d"}}',enddate:'{{f.enddate|date:"Y-m-d"}}',sortable:false,width:90,align:'center',formatter:forecastcell,search:false,title:false }{% endfor %}
         ],
      iconSet: "fontAwesome",
      autowidth: true,
      shrinkToFit: false,
      loadonce: true,
      beforeSelectRow: function() {return false;},
      height: 'auto'
      });
    jQuery("#forecastgrid").jqGrid('setFrozenColumns');
  }
  else
  {
    // Refresh data in the forecast grid
    $('#forecastgrid')
      .jqGrid('clearGridData')
      .jqGrid('setGridParam', {data: [1]}) // Dummy: single row
      .trigger('reloadGrid');
  }

  // Show plan tab
  displayPlanGraph();
  if (!$.trim($("#plangrid").html()))
  {
    displayPlanGraph();
    // Plan grid displayed for the first time
    $("#plangrid").jqGrid({
      data: [1],
      datatype: 'local',
      jsonReader: { repeatitems: false },
      hoverrows: false,
      colModel:[
         {name:'fields',index:'fields',editable:false,label:'{% trans "fields"|capfirst %}',align:'left',title:false,key:true,counter:0,frozen:true,sortable:false,formatter:planfields},
         {% for f in request.report_bucketlist %}{% if not forloop.first %},
         {% endif %}{ name:'{{f.name|safe}}',startdate:'{{f.startdate|date:"Y-m-d"}}',enddate:'{{f.enddate|date:"Y-m-d"}}',sortable:false,width:90,align:'center',formatter:plancell,search:false,title:false }{% endfor %}
         ],
      iconSet: "fontAwesome",
      autowidth: true,
      shrinkToFit: false,
      loadonce: true,
      beforeSelectRow: function() {return false;},
      height: 'auto'
      });
    jQuery("#plangrid").jqGrid('setFrozenColumns');
  }
  else
  {
    // Refresh data in the plan grid
    $('#plangrid')
      .jqGrid('clearGridData')
      .jqGrid('setGridParam', {data: [1]})
      .trigger('reloadGrid');
  }

  // Show transaction tab
  if (!$.trim($("#transactiongrid").html()))
  {
    // Transaction grid displayed for the first time
    $("#transactiongrid").jqGrid({
      data: result.transactions,
      datatype: 'clientSide',
      jsonReader: { repeatitems: false },
      altRows: true,
      altclass: 'altRow',
      colModel:[
         {name:'id',index:'id',editable:false,label:'{% trans "identifier"|capfirst %}',align:'center',title:false,key:true,hidden:true,counter:0,frozen:true,searchoptions:{searchhidden: true}},
         {name:'date',index:'date',editable:false,label:'{% trans "date"|capfirst %}',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:6,searchoptions:{searchhidden: true}},
         {name:'type',index:'status',editable:true,label:'{% trans "type"|capfirst %}',align:'center',title:false,formatter:'select', edittype:'select', editoptions:{value:'confirmed:confirmed;approved:approved;proposed:proposed'},width:100,counter:2,searchoptions:{searchhidden: true}},
         {name:'reference',index:'reference',editable:true,label:'{% trans "reference"|capfirst %}',align:'left',title:false,width:200,counter:1,searchoptions:{searchhidden: true}},
         {name:'status',index:'status',editable:true,label:'{% trans "status"|capfirst %}',align:'center',title:false,formatter:'select', edittype:'select', editoptions:{value:'confirmed:confirmed;approved:approved;proposed:proposed'},width:100,counter:2,searchoptions:{searchhidden: true}},
         {name:'item',index:'item',editable:true,label:'{% trans "item"|capfirst %}',align:'left',title:false,formatter:'item',width:200,counter:3,searchoptions:{searchhidden: true}},
         {name:'origin',index:'origin',editable:true,label:'{% trans "origin"|capfirst %}',align:'left',title:false,formatter:'location',width:200,counter:4,searchoptions:{searchhidden: true}},
         {name:'startdate',index:'startdate',editable:true,label:'{% trans "start date"|capfirst %}',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:6,searchoptions:{searchhidden: true}},
         {name:'enddate',index:'enddate',editable:true,label:'{% trans "end date"|capfirst %}',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:7,searchoptions:{searchhidden: true}},
         {name:'quantity',index:'quantity',editable:true,label:'{% trans "quantity"|capfirst %}',align:'center',title:false,formatter:'number',searchrules:{number:true},width:70,counter:8,searchoptions:{searchhidden: true}},
         {name:'criticality',index:'criticality',editable:false,label:'{% trans "criticality"|capfirst %}',align:'center',title:false,formatter:'number',searchrules:{number:true},width:70,counter:10,searchoptions:{searchhidden: true}},
         {name:'lastmodified',index:'lastmodified',editable:false,label:'Last Modified',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:12,searchoptions:{searchhidden: true}}
         ],
      rowNum:20,
      rowList:[20, 30, 50],
      iconSet: "fontAwesome",
      sortname: 'date',
      sortorder: "asc",
      autowidth: true,
      height: 200,
      multiselect: true
      });
    $("#transactiongrid").jqGrid('setFrozenColumns');
  }
  else
  {
    // Refresh data in the transaction grid
    $('#transactiongrid')
      .jqGrid('clearGridData')
      .jqGrid('setGridParam', {data: result.transactions})
      .trigger('reloadGrid');
  }
}

function selectTab(value)
{
  // Nothing changed
  if (value === showtab) return;

  if (showtab != null)
  {
    // Hide previous tab
    $("#" + showtab + "tab").removeClass("frepple-tabs-active");
    $("#" + showtab + "data").css("display", "none");
    $('#actions').css("display", "none");


    // Show new tab
    showtab = value;
    $("#" + showtab + "tab").addClass("frepple-tabs-active");

    // Save newly selected table as a preference
    grid.saveColumnConfiguration();
  }
  else
  {
    // Show new tab
    showtab = value;

    $("#" + showtab + "tab").addClass("frepple-tabs-active");
    $("#" + showtab + "data").css("display", "block");
  }
  if (showtab == "transactions") {
    $('#actions').css("display", "initial");
  }
  else {
    $('#actions').css("display", "none");
  };
  return false;
}

function setCommentType(t)
{
  if (t == "item")
    $("#commentitemlocation, #commentlocation").removeClass("red");
  else if (t == "location")
    $("#commentitemlocation, #commentitem").removeClass("red");
  else
    $("#commentlocation, #commentitem").removeClass("red");
  $("#comment" + t).addClass("red");
  $("#newcomment:hidden").toggle();
}


$(function() {
  selectTab("{% if preferences.showtab %}{{ preferences.showtab }}{% else %}plan{% endif %}");
});

</script>
{% endblock %}

{% block actions %}<span id="filter" onclick="grid.showFilter()" title="{% trans 'Filter data'|escape%}" class="fa fa-search fa-lg"></span>
<span onclick="grid.showExport(true)" title="{% trans 'Export as CSV or Excel file'|escape %}" class="fa fa-arrow-down fa-lg"></span>
<span onclick="grid.showCustomize(false);" title="{% trans 'Customize'|escape %}" class="fa fa-wrench fa-lg"></span>{% endblock %}
{% block after_table %}
<br/>
<div id="detail"><h1 id="detailtitle">{% trans "Detail" %}</h1>
&nbsp;&nbsp;<input type="submit" value="SAVE" id="save" class="button ui-corner-all save_undo_button_inactive" role="button" onclick="save()" title="{% trans 'Save changes'|escape %}">
&nbsp;&nbsp;<input type="submit" value="UNDO" id="undo" class="button ui-corner-all save_undo_button_inactive" role="button" onclick="undo()" title="{% trans 'Undo changes'|escape %}">
&nbsp;&nbsp;
<select disabled='disabled' name="actions" id="actions" onchange="grid.runAction($(this).val());" style="display: none" class="ui-corner-all ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive" >
    <option value="no_action">{% trans "Select action" %}</option>{% for i in  actions %}
    <option value="{{ i.name|escape }}">{{ i.label }}</option>{% endfor %}
</select>
<div class="frepple-tabs" id="tabs">
<ul role="tablist">
<li id="forecasttab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('forecast')">{% trans 'forecast'|capfirst %}</a></li>
<li id="plantab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('plan')">{% trans 'Plan'|capfirst %}</a></li>
<li id="transactionstab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('transactions')">{% trans 'Transactions'|capfirst %}</a></li>
<li id="commentstab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('comments')">{% trans 'Comments'|capfirst %}</a></li>
<li id="historytab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('history')">{% trans 'History'|capfirst %}</a></li>
</ul>
</div>

<div id="forecastdata" class="clear" style="display:none">
<div id="forecastgraph" style="clear: both; height: 200px; padding: 10px; "></div>
<table id="forecastgrid"></table><br/>
<h2>{% trans "parameters"|capfirst %}</h2>
<table><tr><td>{% trans "Forecast method"|capfirst %}</td><td><select id="forecastmethod">
<option value="automatic">Automatic</option>
<option value="constant">Constant</option>
<option value="trend">Trend</option>
<option value="seasonal">Seasonal</option>
<option value="intermittent">Intermittent</option>
<option value="moving average">Moving average</option>
<option value="manual" selected="selected">Manual</option>
</select></td></tr>
<tr><td>{% trans "SMAPE Forecast error"|capfirst %}</td><td><span id="forecasterror"></span></td></tr></table>
</div>

<div id="plandata" class="clear" style="display:none">
<div id="plangraph" style="clear: both; height: 200px; padding: 10px; "></div>
<table id="plangrid"></table><br/>
<h2>{% trans "parameters"|capfirst %}</h2>
<table><tr><td class="bold">{% trans "reorder quantity"|capfirst %}</td>
<td class="bold">{% trans "safety stock"|capfirst %}</td></tr>
<tr><td valign="top">
<input type="radio" id="roq_type_eoq" name="roq_type" value="eoq"><label for="roq_type_eoq">{% trans "economic order quantity"|capfirst %}: <span id="eoq">&nbsp;&nbsp;&nbsp;&nbsp;</span> units</label><br/>
<input type="radio" id="roq_type_qty" name="roq_type" value="qty"><label for="roq_type_qty">{% trans "quantity"|capfirst %}<input type="number" name="roq_min_qty" min="1" size="7"> units</label><br/>
<input type="radio" id="roq_type_poc" name="roq_type" value="poc"><label for="roq_type_poc">{% trans "period of cover"|capfirst %}<input type="number" id="rop_min_qty" min="1" size="7"> days</label><br/>
</td><td valign="top">
<input type="radio" id="ss_type_svc" name="ss_type" value="svc"><label for="ss_type_svc">{% trans "service level"|capfirst %}: <span id="service_level_qty">&nbsp;&nbsp;&nbsp;&nbsp;</span>units<br/>
&nbsp;&nbsp;&nbsp;&nbsp;{% trans "minimum"|capfirst %} <input type="number" id="service_level" min="0" max="100" size="7"> %<br/>
&nbsp;&nbsp;&nbsp;&nbsp;{% trans "statistical distribution"|capfirst %}<select id="demand_distribution">
<option value="automatic">{% trans "automatic"|capfirst %}</option>
<option value="normal">{% trans "normal"|capfirst %}</option>
<option value="poisson">{% trans "poisson"|capfirst %}</option>
<option value="negbinomial">{% trans "negative binomial"|capfirst %}</option>
</select><br/>
&nbsp;&nbsp;&nbsp;&nbsp;{% trans "demand standard deviation"|capfirst %} <input type="number" id="demand_deviation" size="7"> units<br/>
&nbsp;&nbsp;&nbsp;&nbsp;{% trans "lead time standard deviation"|capfirst %} <input type="number" id="leadtime_deviation" size="7"> days</label><br/>
<input type="radio" id="ss_type_qty" name="ss_type" value="qty"><label for="ss_type_qty">{% trans "quantity"|capfirst %}<input type="number" id="ss_min_qty" min="1" size="7"> units</label><br/>
<input type="radio" id="ss_type_poc" name="ss_type" value="poc"><label for="ss_type_poc">{% trans "period of cover"|capfirst %}<input type="number" id="ss_min_poc" min="1" size="7"> days</label><br/>
</td></tr>
</table>
<input type="checkbox" id="nostock">&nbsp;&nbsp;<label for="nostock">{% trans "Don't stock" %}</label>
</div>

<div id="transactionsdata" class="clear" style="display:none">
<table id="transactiongrid"></table>
</div>

<div id="commentsdata" class="clear" style="display:none">
<input id="commentitem" type="submit" value="{% trans 'new item comment'|capfirst %}" onclick="return setCommentType('item')" disabled/>&nbsp;&nbsp;
<input id="commentitemlocation" type="submit" value="{% trans 'new item-location comment'|capfirst %}" onclick="return setCommentType('itemlocation')" disabled/>&nbsp;&nbsp;
<input id="commentlocation" type="submit" value="{% trans 'new location comment'|capfirst %}" onclick="return setCommentType('location')" disabled/><br/>
<textarea style="display:none; width:100%" id="newcomment" name="comment" rows="5"></textarea><br/>
<span id="pastcomments">{% trans "no comments yet"|capfirst %}</span>
</div>

<div id="historydata" class="clear" style="display:none"><span id="parameters"></span></div>
</div>
{% endblock %}