{% extends "admin/base_site_grid.html" %}
{% load i18n %}

{% comment %}
  TODO:
  - view history
  - different views for the top section
{% endcomment %}

{% block contextmenus %}
{% include "buffercontext.html" %}
{% include "itemcontext.html" %}
{% include "locationcontext.html" %}
{% endblock %}

{% block extra_grid %}onSelectRow: selectRow,{% endblock %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
<script type="text/javascript">

var showtab = null;
var result = null;
var forecastcurrentbucket = 0;
var units = '{% if not "units" in preferences or preferences.units == 'units' %}units{% else %}value{% endif %}';
var timebuckets = [ {% for f in request.report_bucketlist %}{% if not forloop.first %},{% endif %}{'name':'{{f.name}}','startdate':'{{f.startdate|date:"Y-m-d"}}','enddate':'{{f.enddate|date:"Y-m-d"}}'}{% endfor %} ];


function switchMode()
{
  var mode = $("#grouping").val();
  if (mode != 'itemlocation')
  {
    alert("Not implemented yet"); // TODO
    $("#grouping").val('itemlocation');
  }
}


function selectRow(id)
{
  if (!!result && id == result.name)
    // Selection has not changed
    return;

  if ($('#save').hasClass("save_undo_button_active"))
  {
    // Warn about unsaved changes
    $('#popup')
      .html("{% trans 'Do you want to save your changes first?'|escapejs %}")
      .dialog({
        title: gettext("Unsaved changes"),
        autoOpen: true,
        resizable: false,
        width: 'auto',
        height: 'auto',
        buttons : {
            "{% trans "Save"|escapejs %}" : function() {
              $(this).dialog("close");
              save(false);
              selectRow(id);
            },
            "{% trans "No"|escapejs %}" : function() {
              $('#save').removeClass("save_undo_button_active");
              selectRow(id);
              $(this).dialog("close");
            }
          }
      });
    return;
  }

  $.ajax({
    url: '{{request.prefix}}/inventoryplanning/drpitemlocation/' + admin_escape(id) + '/',
    type: 'GET',
    success: displayResult,
    error: function (result, stat, errorThrown) {
      $('#popup').html(result.responseText + "  " + stat + errorThrown).dialog({
        title: gettext("Error retrieving data"),
        autoOpen: true,
        resizable: false,
        width: 'auto',
        height: 'auto'
      });
      }
    });

  $('#undo').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
  $('#save').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
  $("#actions")
  .addClass("ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive")
  .removeClass("change_status_selectmenu_active ui-state-enabled ui-selectmenu-enabled")
  .prop('disabled', 'disabled');
}

function extraPreference()
{
  // TODO save settings on forecast, planning and transaction tabs
  return {
    "height": Math.round($("#gbox_grid").height() - 48),
    "showtab": showtab,
    "type": result ? result.type : null,
    "name": result ? result.name : null,
    "units": units
  };
}

function select()
{
  //$('#filter').addClass("ui-state-disabled");
  //$.jgrid.hideModal("#searchmodfbox_grid");
  $('#save').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $('#undo').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $(window).off('beforeunload', warnUnsavedChanges);
  $(window).on('beforeunload', warnUnsavedChanges);
}

function activateSaveUndo()
{
  //$('#filter').addClass("ui-state-disabled");
  //$.jgrid.hideModal("#searchmodfbox_grid");
  $('#save').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $('#undo').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $(window).off('beforeunload', warnUnsavedChanges);
  $(window).on('beforeunload', warnUnsavedChanges);
}

function warnUnsavedChanges() {
  return gettext("There are unsaved changes on this page.");
}

function onChange(event) {
  $(event.target).addClass('dirty-cell');
  select();
}

function undo(){
  // Reset the buttons
  $('#undo').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
  $('#save').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
  $("#actions").addClass("ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive")
    .removeClass("change_status_selectmenu_active ui-state-enabled ui-selectmenu-enabled")
    .prop('disabled', 'disabled');

//  $("#newcomment").val(""); //clear comments textarea

  $(window).off('beforeunload', warnUnsavedChanges);

  selectRow(result.name); //Fetch data
  displayResult(result); //redraw all tabs
}

function select() {
  $('#filter').addClass("ui-state-disabled");
  $.jgrid.hideModal("#searchmodfbox_grid");
  $('#save').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $('#undo').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $(window).off('beforeunload', warnUnsavedChanges);
  $(window).on('beforeunload', warnUnsavedChanges);
}


function markSelectedRow(id)
{
  var sel = jQuery("#transactiongrid").jqGrid('getGridParam','selarrrow').length;
  if (sel > 0)
  {
    $("#actions").removeClass("ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive")
    .addClass("change_status_selectmenu_active ui-state-enabled ui-selectmenu-enabled")
    .prop('disabled', false);
  }
  else
  {
    $("#actions")
    .addClass("ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive")
    .removeClass("change_status_selectmenu_active ui-state-enabled ui-selectmenu-enabled")
    .prop('disabled', 'disabled');
  }
}


function updateScreen(newval)
{
  if (units == newval)
    return; // Nothing changed
  units = newval;
  grid.saveColumnConfiguration();
  setTimeout(function() { window.location.href = window.location.href; }, 1000);
}


function setStatus(newstatus)
{
  var sel = jQuery("#transactiongrid").jqGrid('getGridParam','selarrrow');
  for ( i in sel ) {
    jQuery("#transactiongrid").jqGrid("setCell", sel[i], "status", newstatus, "dirty-cell");
    jQuery("#transactiongrid").jqGrid("setRowData", sel[i], false, "edited");
  };

  $("#actions").prop("selectedIndex",0);
  $('#save').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $('#undo').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $(window).on('beforeunload', warnUnsavedChanges);
}

{% if perms.forecast.change_forecast %}
function setForecastMethod(newmethod)
{
  $('#save').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $('#undo').removeClass("save_undo_button_inactive").addClass("save_undo_button_active");
  $('#forecastmethod').addClass('dirty-cell red');
  $(window).on('beforeunload', warnUnsavedChanges);
}
{% endif %}

function save(refresh) {
  if (result == null)
    return;

  // Build the results to send back to the server
  var data = {};

  {% if perms.common.add_comment %}
  // Get a new entered comment
  $("#commentitemlocation.comment_button_active").each(function() {
    data["comment"] = $("#newcomment").val();
    data["commenttype"] = "itemlocation";
    });
  $("#commentlocation.comment_button_active").each(function() {
    data["comment"] = $("#newcomment").val();
    data["commenttype"] = "location";
    });
  $("#commentitem.comment_button_active").each(function() {
    data["comment"] = $("#newcomment").val();
    data["commenttype"] = "item";
    });
  {% endif %}

  {% if perms.forecast.change_forecastdemand %}// Get forecast data changes
  var fcstchanges = [];
  $("#forecastgrid .dirty-cell").each( function() {
     var curCol = jQuery.jgrid.getCellIndex($(this).closest("td,th"));
     var curRow = $(this).closest("tr").attr('id');
     var colmodel = jQuery("#forecastgrid").jqGrid ('getGridParam', 'colModel')[curCol];
     if ($(this).hasClass('adjhistory-3'))
       fcstchanges.push({
          'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjHistory3': $(this).val()
          });
     else if ($(this).hasClass('adjhistory-2'))
       fcstchanges.push({
         'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjHistory2': $(this).val()
         });
     else if ($(this).hasClass('adjhistory-1'))
       fcstchanges.push({
         'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjHistory1': $(this).val()
         });
     else if ($(this).hasClass('adjhistory'))
       fcstchanges.push({
         'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjHistory': $(this).val()
         });
     else if ($(this).hasClass('adjforecast'))
       fcstchanges.push({
         'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'adjForecast': $(this).val()
         });
  });
  if (!$.isEmptyObject(fcstchanges))
    data["forecast"] = fcstchanges;
  {% endif %}

  {% if perms.input.calendarbucket %}// Get inventory override changes
  var planchanges = [];
  $("#plangrid .dirty-cell").each( function() {
     var curCol = jQuery.jgrid.getCellIndex($(this).closest("td,th"));
     var curRow = $(this).closest("tr").attr('id');
     var colmodel = jQuery("#plangrid").jqGrid ('getGridParam', 'colModel')[curCol];
     if ($(this).hasClass('roqoverride'))
       planchanges.push({
          'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'roqoverride': $(this).val()
          });
     if ($(this).hasClass('ssoverride'))
       planchanges.push({
         'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'ssoverride': $(this).val()
         });
  });
  if (!$.isEmptyObject(planchanges))
    data["plan"] = planchanges;
  {% endif %}

  {% if perms.input.change_purchaseorder or perms.input.change_distributionorder %}
  // Get transaction changes
  var transchange = [];
  $("#transactiongrid .dirty-cell").each( function() {
    // Verify if this id is already added into the grid
    var curRow = $(this).closest("tr").attr('id');
    var found = false;
    for (var chck in transchange)
      if (transchange[chck].id == curRow)
        found = true;
    if (!found)
      transchange.push(
        jQuery("#transactiongrid").jqGrid('getRowData', curRow)
        );
  });
  if (!$.isEmptyObject(transchange))
    data["transactions"] = transchange;
  {% endif %}

  {% if perms.inventoryplanning.change_inventoryplanning or perms.forecast.change_forecast %}
  // Get inventory planning and forecast parameter changes
  var prmtr = {};
  {% if perms.inventoryplanning.change_inventoryplanning %}
  prmtr["roq_type"] = $('input[name="roq_type"]:checked').val();
  prmtr["roq_min_qty"] = $("#roq_min_qty").val();
  prmtr["roq_min_poc"] = $("#roq_min_poc").val();
  prmtr["service_level"] = $("#service_level").val();
  prmtr["demand_distribution"] = $("#demand_distribution").val();
  prmtr["demand_deviation"] = $("#demand_deviation").val();
  prmtr["leadtime_deviation"] = $("#leadtime_deviation").val();
  prmtr["ss_type"] = $('input[name="ss_type"]:checked').val();
  prmtr["ss_min_qty"] = $("#ss_min_qty").val();
  prmtr["ss_min_poc"] = $("#ss_min_poc").val();
  prmtr["nostock"] = $("#nostock").prop('checked');
  {% endif %}
  {% if perms.forecast.change_forecast %}
  prmtr["forecastmethod"] = $("#forecastmethod").val();
  {% endif %}
  if (!$.isEmptyObject(prmtr))
    data["parameters"] = prmtr;
  {% endif %}

  // Send the results back to the server
  if (!$.isEmptyObject(fcstchanges))
	  $.ajax({
	    url: '{{request.prefix}}/inventoryplanning/drpitemlocation/' + admin_escape(result.name) + '/',
	    type: 'POST',
	    data: JSON.stringify(data),
	    contentType: 'application/json',
	    success: function() {
	      // Reset the buttons
	      $('#undo').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
	      $('#save').addClass("save_undo_button_inactive").removeClass("save_undo_button_active");
	      $(window).off('beforeunload', warnUnsavedChanges);
	      // Refresh the detail pane from the server after successful save.
	      // TODO This could be optimized: the server could return the updated
	      // data immediately, rather than the client asking here for the new data.
	      var entity = result.name;
	      result = null;
	      selectRow(entity);
	      },
	    error: function (result, stat, errorThrown) {
	      // Error message
	      $('#popup').html(result.responseText)
	        .dialog({
	        title: gettext("Error saving data"),
	        autoOpen: true,
	        resizable: false,
	        width: 'auto',
	        height: 'auto'
	      });
	      }
	    });
}

function openbravoIncrExport() {
  $('#popup').html(
  gettext("export selected records to openbravo")
  );
  
  var sel = jQuery("#transactiongrid").jqGrid('getGridParam','selarrrow');
  console.log(JSON.stringify(sel));
  
  $('#popup').dialog({
    title: gettext("export"),
    autoOpen: true, resizable: false, width: 390, height: 'auto',
    buttons: [
      {
        text: gettext("export"),
        id: 'button_export',
        click: function() {
          if (sel != null && sel.length > 0)
          // Send the update to the server
            $.ajax({
                url: "/openbravo/upload/",
                data: JSON.stringify(sel),
                type: "POST",
                contentType: "application/json",
                success: function () {
                  $('#popup').html(gettext("export: OK"))
                    .dialog({
                      title: gettext("data exported to openbravo"),
                      autoOpen: true,
                      resizable: false,
                      width: 'auto',
                      height: 'auto'
                    });
                  $('#button_close').find('.ui-button-text').text(gettext('close'));
                  $('#button_export').removeClass("ui-state-default").addClass("ui-state-disabled").prop('disabled', 'disabled');
                  upload.undo();
                 // $(this).dialog("close");
                },
                error: function (result, stat, errorThrown) {
                  $('#popup').html(result.responseText)
                    .dialog({
                      title: gettext("error exporting data"),
                      autoOpen: true,
                      resizable: false,
                      width: 'auto',
                      height: 'auto'
                    });
//                    $.jgrid.hideModal("#searchmodfbox_grid");
                  $('#button_export').find('.ui-button-text').text(gettext('retry'));
                }
            });
      
          $(this).dialog("close");
        }
      },
      {
        text: gettext("cancel"),
        id: 'button_close',
        click: function() { $(this).dialog("close"); }
      }
      ]
  });
  $("#actions").prop("selectedIndex",0);
}
  
function forecastfields() {
  var col =
	{% if perms.forecast.change_forecastdemand %}
    '{{_("total orders 3 years ago")|capfirst}}<br/>' +
    '<span class="editablepivotcol">{{_("orders adjustment 3 years ago")|capfirst}}</span><br/>' +
    '{{_("total orders 2 years ago")|capfirst}}<br/>' +
    '<span class="editablepivotcol">{{_("orders adjustment 2 years ago")|capfirst}}</span><br/>' +
    '{{_("total orders 1 year ago")|capfirst}}<br/>' +
    '<span class="editablepivotcol">{{_("orders adjustment 1 year ago")|capfirst}}</span><br/>' +
    '{{_("total orders")|capfirst}}<br/>' +
    '{{_("open orders")|capfirst}}<br/>' +
    '<span class="bold">{{_("forecast baseline")|capfirst}}</span><br/>' +
    '<span class="editablepivotcol">{{_("forecast override")|capfirst}}</span><br/>';
  {% else %}
	  '{{_("total orders 3 years ago")|capfirst}}<br/>' +
	  '{{_("orders adjustment 3 years ago")|capfirst}}<br/>' +
	  '{{_("total orders 2 years ago")|capfirst}}<br/>' +
	  '{{_("orders adjustment 2 years ago")|capfirst}}<br/>' +
	  '{{_("total orders 1 year ago")|capfirst}}<br/>' +
	  '{{_("orders adjustment 1 year ago")|capfirst}}<br/>' +
	  '{{_("total orders")|capfirst}}<br/>' +
	  '{{_("open orders")|capfirst}}<br/>' +
	  '<span class="bold">{{_("forecast baseline")|capfirst}}</span><br/>' +
	  '{{_("forecast override")|capfirst}}<br/>';
  {% endif %}
  return col;
}


function planfields() {
  var col =
  {% if perms.input.change_calendarbucket %}
    '{{_("reorder quantity")|capfirst}}' + "<br/>" +
    '<span class="editablepivotcol">{{_("reorder quantity override")|capfirst}}</span><br/>' +
    '{{_("safety stock")|capfirst}}<br/>' +
    '<span class="editablepivotcol">{{_("safety stock override")|capfirst}}</span><br/>' +
    '{{_("starting inventory")|capfirst}}<br/>' +
    '{{_("local demand")|capfirst}}<br/>' +
    '{{_("dependent demand")|capfirst}}<br/>' +
    '<span class="bold">{{_("total demand")|capfirst}}</span><br/>' +
    '{{_("confirmed supply")|capfirst}}<br/>' +
    '{{_("proposed supply")|capfirst}}<br/>' +
    '<span class="bold">{{_("total supply")|capfirst}}</span><br/>' +
    '{{_("ending inventory")|capfirst}}<br/>';
  {% else %}
	  '{{_("reorder quantity")|capfirst}}' + "<br/>" +
	  '{{_("reorder quantity override")|capfirst}}<br/>' +
	  '{{_("safety stock")|capfirst}}<br/>' +
	  '{{_("safety stock override")|capfirst}}<br/>' +
	  '{{_("starting inventory")|capfirst}}<br/>' +
	  '{{_("local demand")|capfirst}}<br/>' +
	  '{{_("dependent demand")|capfirst}}<br/>' +
	  '<span class="bold">{{_("total demand")|capfirst}}</span><br/>' +
	  '{{_("confirmed supply")|capfirst}}<br/>' +
	  '{{_("proposed supply")|capfirst}}<br/>' +
	  '<span class="bold">{{_("total supply")|capfirst}}</span><br/>' +
	  '{{_("ending inventory")|capfirst}}<br/>';
  {% endif %}
  return col;
}


function forecastcell(cellvalue, options, rowObject) {
  var cell = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 1];
  if (!cell) return "";
  var cellstring = "";
  var currentdate = new Date(timebuckets[0].startdate);
  var bucketdate = new Date(timebuckets[parseInt(options.pos) - 1].startdate);
  if (bucketdate - currentdate > 365 * 86400 * 1000)
  {
    // Beyond 1 year we don't show the order adjustment values
    {% if perms.forecast.change_forecastdemand %}
    cellstring += "<br><span class='editablepivotcol'></span><br><br><span class='editablepivotcol'></span><br><br><span class='editablepivotcol'></span><br>";
    {% else %}
    cellstring += "<br><br><br><br><br><br>";
    {% endif %}
  }
  else
  {
    // Show order adjustment values
    var cell_min1 = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 13];
    var cell_min2 = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 25];
    var cell_min3 = result.forecast[parseInt(options.pos) + parseInt(forecastcurrentbucket) - 37];
    if (!cell_min3)
      cellstring += "<br><br>";
    else {
      cellstring += cell_min3.orderstotal + "<br>";
      {% if perms.forecast.change_forecastdemand %}
      cellstring += '<input type="text" class="smallpadding adjhistory-3" value="' + ((cell_min3.ordersadjustment === null) ? '' : Math.round(cell_min3.ordersadjustment)) + '" size="5" oninput="onChange(event)" onclick="$(this).select();"/><br>';
      {% else %}
      cellstring += ((cell_min3.ordersadjustment === null) ? '' : Math.round(cell_min3.ordersadjustment)) + '<br>';
      {% endif %}
    }
    if (!cell_min2)
      cellstring += "<br/><br/>";
    else {
      cellstring += cell_min2.orderstotal + "<br/>";
      {% if perms.forecast.change_forecastdemand %}
      cellstring += '<input type="text" class="smallpadding adjhistory-2" value="' + ((cell_min2.ordersadjustment === null) ? '' : Math.round(cell_min2.ordersadjustment)) + '" size="5" oninput="onChange(event)" onclick="$(this).select();"/><br>';
      {% else %}
      cellstring += ((cell_min2.ordersadjustment === null) ? '' : Math.round(cell_min2.ordersadjustment)) + '<br>';
      {% endif %}
    }
    if (!cell_min1)
      cellstring += "<br/><br/>";
    else {
      cellstring += cell_min1.orderstotal + "<br/>";
      {% if perms.forecast.change_forecastdemand %}
      cellstring += '<input type="text" class="smallpadding adjhistory-1" value="' + ((cell_min1.ordersadjustment === null) ? '' : Math.round(cell_min1.ordersadjustment)) + '" size="5" oninput="onChange(event)" onclick="$(this).select();"/><br>';
      {% else %}
      cellstring += ((cell_min1.ordersadjustment === null) ? '' : Math.round(cell_min1.ordersadjustment)) + '<br>';
      {% endif %}
    }
  }
  cellstring += cell.orderstotal + "<br>";
  cellstring += cell.ordersopen + "<br>";
  cellstring += '<span class="bold">' + cell.forecastbaseline + "</span><br>";
  {% if perms.forecast.change_forecastdemand %}
  cellstring += '<input type="text" class="smallpadding adjforecast" value="' + ((cell.forecastadjustment === null) ? '' : Math.round(cell.forecastadjustment)) + '" size="5" oninput="onChange(event)" onclick="$(this).select();"/><br>';
  {% else %}
  cellstring += Math.round(cell.forecastadjustment) + '<br>';
  {% endif %}
  return cellstring;
}


function plancell(cellvalue, options, rowObject)
{
  var cell = result.plan[parseInt(options.pos) - 1];
  if (!cell) return "s";
  var cellstring = "";
  cellstring += cell.roq + "<br>"{% if perms.input.change_purchaseorder %}
  cellstring += '<input type="text" class="smallpadding roqoverride" value="' + ((cell.roqoverride === null) ? '' : Math.round(cell.roqoverride)) + '" size="5" oninput="onChange(event)" onclick="$(this).select();"/><br>';
  {% else %}
  cellstring += Math.round(cell.roqoverride) + '<br>';{% endif %}
  cellstring += cell.ss + "<br>"{% if perms.input.change_purchaseorder %}
  cellstring += '<input type="text" class="smallpadding ssoverride" value="' + ((cell.ssoverride === null) ? '' : Math.round(cell.ssoverride)) + '" size="5" oninput="onChange(event);;" onclick="$(this).select();"/><br>';
  {% else %}
  cellstring += Math.round(cell.ssoverride) + '<br>';{% endif %}
  cellstring += cell.startoh + "<br>";
  cellstring += cell.dmdlocal + "<br>";
  cellstring += cell.dmddependent + "<br>";
  cellstring += '<span class="bold">' + cell.dmdtotal + "</span><br>";
  cellstring += cell.supplyconfirmed + "<br>";
  cellstring += cell.supplyproposed + "<br>";
  cellstring += '<span class="bold">' + cell.supply + "</span><br>";
  cellstring += cell.endoh + "<br>";
  return cellstring;
}


function displayPlanGraph()
{
  var margin = {top: 0, right: 130, bottom: 30, left: 50};
  var width = $("#content-main").width() - margin.left - margin.right;
  var height = $("#plangraph").height() - margin.top - margin.bottom;

  // Define X-axis
  var domain_x = [];
  var bucketnamelength = 0;
  for (var i in result.plan)
  {
    domain_x.push(result.plan[i].bucket);
    bucketnamelength = Math.max(result.plan[i].bucket.length, bucketnamelength);
  }
  var x = d3.scale.ordinal()
    .domain(domain_x)
    .rangeRoundBands([0, width], .1);
  var x_width = x.rangeBand();

  // Define Y-axis
  var y = d3.scale.linear().rangeRound([height, 0]);

  // Create a new SVG element
  $($("#plangraph").get(0)).html("");
  var svg = d3.select($("#plangraph").get(0))
    .append("svg")
    .attr("class","graphcell")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Get the maxima of the values
  var max_y = 0;
  var min_y = 0;
  for (var i in result.plan)
  {
    var tmp = result.plan[i];
    if (tmp.startoh > max_y)
       max_y = tmp.startoh;
    if (tmp.dmdtotal > max_y)
       max_y = tmp.dmdtotal;
    if (tmp.supply > max_y)
       max_y = tmp.supply;
    if (typeof tmp.roqoverride !== 'undefined')
    {
      if (tmp.roqoverride > max_y)
        max_y = tmp.roqoverride;
    }
    else if (tmp.roq > max_y)
      max_y = tmp.roq;
    if (typeof tmp.ssoverride !== 'undefined')
    {
      if (tmp.ssoverride > max_y)
        max_y = tmp.ssoverride;
    }
    else if (tmp.ss > max_y)
      max_y = tmp.ss;
    if (tmp.startoh < min_y)
       min_y = tmp.startoh;
  }

  // Update the scale of the Y-axis by looking for the max value
  y.domain([min_y, max_y]);
  var y_zero = y(0);

  // Create D3 bars
  var my_y;
  svg.selectAll("g")
    .data(result.plan)
    .enter()
    .append("g")
    .attr("transform", function(d) { return "translate(" + x(d.bucket) + ",0)"; })
    .on("click", function(d) {
        if (d3.event.defaultPrevented || (d.supply == 0 && d.dmdtotal == 0))
          return;
        d3.select("#tooltip").style('display', 'none');
        d3.event.stopPropagation();
      })
    .on("mouseenter", function(d) {
       graph.showTooltip(
         '<div style="text-align:center; font-weight:bold">'
         + d.bucket + '</div>'
         + '<table><tr><td>{{_('reorder quantity')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.roq*10)/10)
         + '</td></tr><tr><td>{{_('reorder quantity override')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.roqoverride*10)/10)
         + '</td></tr><tr><td>{{_('safety stock')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.ss*10)/10)
         + '</td></tr><tr><td>{{_('safety stock override')|capfirst}}</td><td style="text-align:right">'
         + ((d.ssoverride === null) ? '' : (Math.round(d.ssoverride*10)/10))
         + '</td></tr><tr><td>{{_('start inventory')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.startoh*10)/10)
         + '</td></tr><tr><td>{{_('end inventory')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.endoh*10)/10)
         + '</td></tr></table>'
         );
      })
    .on("mouseleave", graph.hideTooltip)
    .on("mousemove", graph.moveTooltip)
    .each(function(d) {
      var bucket = d3.select(this);
      var top;
      if (d['dmdtotal'] > 0)
      {
        my_y = y(d['dmdtotal']);
        bucket.append("rect")
          .attr("width", x_width/2)
          .attr("height", y_zero - my_y)
          .attr("y", my_y)
          .style("fill","#F6BD0F");
      }
      if (d['supply'] > 0)
      {
        my_y = y(d['supply']);
        bucket.append("rect")
          .attr("width", x_width/2)
          .attr("height", y_zero - my_y)
          .attr("x", x_width/2)
          .attr("y", my_y)
          .style("fill","#2B95EC");
      }
    });

  // Create D3 lines
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return y(d.startoh); });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#8BBA00")
    .attr("d", line(result.plan));
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) {
         if (d.roqoverride !== null)
           return y(d.roqoverride);
         else
           return y(d.roq);
         });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#f47a00")
    .attr("d", line(result.plan));
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) {
         if (d.ssoverride !== null)
           return y(d.ssoverride);
         else
           return y(d.ss);
         });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#FF0000")
    .attr("d", line(result.plan));

  // Display Y-Axis
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  // Display X-axis
  var nth = Math.ceil(result.plan.length / width * bucketnamelength * 10);
  var myticks = [];
  for (var i in result.plan)
    if (i % nth == 0) myticks.push(result.plan[i].bucket);
  var xAxis = d3.svg.axis()
    .scale(x)
    .tickValues(myticks)
    .orient("bottom");
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  // Display legend
  var legend = svg.append("g");
  var codes = [
    ["{{_('start inventory')|capfirst}}", "#8BBA00"],
    ["{{_('produced')|capfirst}}", "#2B95EC"],
    ["{{_('consumed')|capfirst}}", "#F6BD0F"],
    ["{{_('reorder quantity')|capfirst}}", "#f47a00"],
    ["{{_('safety stock')|capfirst}}", "#FF0000"]
    ];
  var visible = 0;
  for (var i in codes)
  {
    legend.append("rect")
      .attr("x", width + 82)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", codes[i][1])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    legend.append("text")
      .attr("x", width + 76)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(codes[i][0])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    visible += 1;
  }
}


function displayForecastGraph()
{
  var margin = {top: 0, right: 130, bottom: 30, left: 50};
  var width = $("#content-main").width() - margin.left - margin.right;
  var height = $("#forecastgraph").height() - margin.top - margin.bottom;

  // Define X-axis
  var domain_x = [];
  var bucketnamelength = 0;
  for (var i in result.forecast)
  {
    domain_x.push(result.forecast[i].bucket);
    bucketnamelength = Math.max(result.forecast[i].bucket.length, bucketnamelength);
    if (result.forecast[i].bucket == timebuckets[0].name)
      forecastcurrentbucket = i;
  }
  var x = d3.scale.ordinal()
    .domain(domain_x)
    .rangeRoundBands([0, width], .1);
  var x_width = x.rangeBand();

  // Define Y-axis
  var y = d3.scale.linear().rangeRound([height, 0]);

  // Create a new SVG element
  $($("#forecastgraph").get(0)).html("");
  var svg = d3.select($("#forecastgraph").get(0))
    .append("svg")
    .attr("class","graphcell")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Get the maxima of the values
  var max_y = 0;
  var min_y = 0;
  for (var i in result.forecast)
  {
    var tmp = result.forecast[i];
    if (tmp.orderstotal + tmp.ordersadjustment > max_y)
       max_y = tmp.orderstotal + tmp.ordersadjustment;
    if (tmp.forecasttotal > max_y)
       max_y = tmp.forecasttotal;
    if (tmp.orderstotal < min_y)
       min_y = tmp.orderstotal;
    if (tmp.forecasttotal < min_y)
       min_y = tmp.forecasttotal;
  }

  // Update the scale of the Y-axis by looking for the max value
  y.domain([min_y, max_y]);
  var y_zero = y(0);

  // Create D3 bars
  var my_y;
  svg.selectAll("g")
    .data(result.forecast)
    .enter()
    .append("g")
    .attr("transform", function(d) { return "translate(" + x(d.bucket) + ",0)"; })
    .on("click", function(d) {
        if (d3.event.defaultPrevented)
          return;
        d3.select("#tooltip").style('display', 'none');
        d3.event.stopPropagation();
      })
    .on("mouseenter", function(d) {
       graph.showTooltip(
         '<div style="text-align:center; font-weight:bold">'
         + d.bucket + '</div>'
         + '<table><tr><td>{{_('total orders')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.orderstotal*10)/10)
         + '</td></tr><tr><td>{{_('open orders')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.ordersopen*10)/10)
         + '</td></tr><tr><td>{{_('orders adjustment')|capfirst}}</td><td style="text-align:right">'
         + ((d.ordersadjustment === null) ? '' : (Math.round(d.ordersadjustment*10)/10))
         + '</td></tr><tr><td>{{_('forecast baseline')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecastbaseline*10)/10)
         + '</td></tr><tr><td>{{_('forecast override')|capfirst}}</td><td style="text-align:right">'
         + ((d.forecastadjustment === null) ? '' : Math.round(d.forecastadjustment*10)/10)
         + '</td></tr><tr><td>{{_('forecast total')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecasttotal*10)/10)
         + '</td></tr><tr><td>{{_('forecast net')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecastnet*10)/10)
         + '</td></tr><tr><td>{{_('forecast consumed')|capfirst}}</td><td style="text-align:right">'
         + (Math.round(d.forecastconsumed*10)/10)
         + '</td></tr></table>'
         );
      })
    .on("mouseleave", graph.hideTooltip)
    .on("mousemove", graph.moveTooltip)
    .each(function(d) {
      var bucket = d3.select(this);
      var top;
      if (d.ordersopen > 0)
      {
        my_y = y(d.ordersopen);
        bucket.append("rect")
          .attr("width", x_width)
          .attr("height", y_zero - my_y)
          .attr("x", x_width/2)
          .attr("y", my_y)
          .style("fill","#2B95EC");
      }
    });

  // Create D3 lines
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return y(Math.max(0,d.orderstotal + d.ordersadjustment)); });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#8BBA00")
    .attr("d", line(result.forecast));
  var line = d3.svg.line()
    .x(function(d) { return x(d.bucket) + x_width / 2; })
    .y(function(d) { return y(d['forecasttotal']); });
  svg.append("svg:path")
    .attr('class', 'graphline')
    .attr("stroke","#FF0000")
    .attr("d", line(result.forecast));

  // Display Y-Axis
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  // Display X-axis for a single forecast
  var nth = Math.ceil(result.forecast.length / width * bucketnamelength * 10);
  var myticks = [];
  for (var i in result.forecast)
    if (i % nth == 0) myticks.push(result.forecast[i].bucket);
  var xAxis = d3.svg.axis()
    .scale(x)
    .tickValues(myticks)
    .orient("bottom");
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  // Display legend
  var legend = svg.append("g");
  var codes = [
    ["{{_('open orders')|capfirst}}", "#2B95EC", 1],
    ["{{_('total orders')|capfirst}}", "#8BBA00", 0],
    ["{{_('forecast total')|capfirst}}", "#FF0000", 5]
    ];
  var visible = 0;
  for (var i in codes)
  {
    legend.append("rect")
      .attr("x", width + 82)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", codes[i][1])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    legend.append("text")
      .attr("x", width + 76)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(codes[i][0])
      .attr("transform", "translate(0," + (visible*20+10) + ")");
    visible += 1;
  }
}


function displayResult(data)
{
  result = data;

  // Debugging
  $("#parameters").html(JSON.stringify(data));

  // Enable input elements
  $("#save, #undo, #commentitem, #commentitemlocation, #commentlocation").prop('disabled', false);

  // Update title
  if (result.type == "itemlocation")
    $("#detailtitle").html("{{_('buffer')|capfirst|escape}} " + result.name);
  else if (result.type == "item")
    $("#detailtitle").html("{{_('item')|capfirst|escape}} " + result.name);
  else if (result.type == "itemlocation")
    $("#detailtitle").html("{{_('location')|capfirst|escape}} " + result.name);

  // Update the forecasting parameters
  {% if perms.forecast.change_forecast %}
  $("#forecastmethod").val(data.parameters.forecastmethod).removeClass('red');
  {% else %}
  $("#forecastmethod").html(data.parameters.forecastmethod);
  {% endif %}
  $("#forecast_out_smape").html(data.parameters.forecast_out_smape);
  $("#forecast_out_method").html(data.parameters.forecast_out_method);

  // Update the inventory planning parameters
  $("#roq_type_" + data.parameters.roq_type).prop("checked", true);
  $("#ss_type_" + data.parameters.ss_type).prop("checked", true);
  $("#nostock").prop('checked', data.parameters.nostock == "True");
  $("#eoq").html(data.parameters.roq_calculated);
  $("#roq_min_qty").val(data.parameters.roq_min_qty).removeClass('dirty-cell');
  $("#roq_min_poc").val(data.parameters.roq_min_poc).removeClass('dirty-cell');
  $("#calculated_ss").html(data.parameters.ss_calculated);
  $("#service_level").val(data.parameters.service_level).removeClass('dirty-cell');
  $("#demand_distribution").val(data.parameters.demand_distribution).removeClass('red');
  $("#demand_deviation").val(data.parameters.demand_deviation).removeClass('dirty-cell');
  $("#leadtime_deviation").val(data.parameters.leadtime_deviation).removeClass('dirty-cell');
  $("#ss_min_qty").val(data.parameters.ss_min_qty).removeClass('dirty-cell');
  $("#ss_min_poc").val(data.parameters.ss_min_poc).removeClass('dirty-cell');

  // Show comments
  $("#commentlocation, #commentitem, #commentitemlocation").removeClass("comment_button_active ui-state-disabled");
  $("#newcomment:visible").css("display", "none");
  var comments = $("#pastcomments");
  comments.empty();
  for (var c in result.comments)
  {
    $("<hr/>").appendTo(comments);
    $("<h3/>").text(result.comments[c].user + " " + result.comments[c].type).appendTo(comments);
    $("<span class='float_right'></span>").text(result.comments[c].lastmodified).appendTo(comments);
    $("<pre/>").text(result.comments[c].comment).appendTo(comments);
  }

  // Show forecast tab
  displayForecastGraph(); // this function also sets the variable firstforecastbucket
  if (!$.trim($("#forecastgrid").html()))
  {
    // Forecast grid displayed for the first time
    $("#forecastgrid").jqGrid({
      data: [1],  // Dummy: single row
      datatype: 'local',
      jsonReader: { repeatitems: false },
      hoverrows: false,
      colModel:[
         {name:'fields',index:'fields',width:180,editable:false,label:'{% trans "fields"|capfirst %}',align:'left',title:false,key:true,counter:0,frozen:true,sortable:false,formatter:forecastfields},
         {% for f in request.report_bucketlist %}{% if not forloop.first %},
         {% endif %}{ name:'{{f.name|safe}}',startdate:'{{f.startdate|date:"Y-m-d"}}',enddate:'{{f.enddate|date:"Y-m-d"}}',sortable:false,width:90,align:'center',formatter:forecastcell,search:false,title:false }{% endfor %}
         ],
      iconSet: "fontAwesome",
      width: $('#content-main').width(),
      shrinkToFit: false,
      loadonce: true,
      beforeSelectRow: function() {return false},
      height: 'auto'
      });
    jQuery("#forecastgrid").jqGrid('setFrozenColumns');
    $("#forecastgrid").unbind("contextmenu");
  }
  else
  {
    // Refresh data in the forecast grid
    $('#forecastgrid')
      .jqGrid('clearGridData')
      .jqGrid('setGridParam', {data: [1]}) // Dummy: single row
      .trigger('reloadGrid');
  }

  // Show plan tab
  displayPlanGraph();
  if (!$.trim($("#plangrid").html()))
  {
    displayPlanGraph();
    // Plan grid displayed for the first time
    $("#plangrid").jqGrid({
      data: [1],
      datatype: 'local',
      jsonReader: { repeatitems: false },
      hoverrows: false,
      colModel:[
         {name:'fields',index:'fields',editable:false,label:'{% trans "fields"|capfirst %}',align:'left',title:false,key:true,counter:0,frozen:true,sortable:false,formatter:planfields},
         {% for f in request.report_bucketlist %}{% if not forloop.first %},
         {% endif %}{ name:'{{f.name|safe}}',startdate:'{{f.startdate|date:"Y-m-d"}}',enddate:'{{f.enddate|date:"Y-m-d"}}',sortable:false,width:90,align:'center',formatter:plancell,search:false,title:false }{% endfor %}
         ],
      iconSet: "fontAwesome",
      width: $('#content-main').width(),
      shrinkToFit: false,
      loadonce: true,
      beforeSelectRow: function() {return false;},
      height: 'auto'
      });
    jQuery("#plangrid").jqGrid('setFrozenColumns');
    $("#plangrid").unbind("contextmenu");
  }
  else
  {
    // Refresh data in the plan grid
    $('#plangrid')
      .jqGrid('clearGridData')
      .jqGrid('setGridParam', {data: [1]})
      .trigger('reloadGrid');
  }

  // Show transaction tab
  var transactiondata = $.extend(true, [], result.transactions);
  if (!$.trim($("#transactiongrid").html()))
  {
    // Transaction grid displayed for the first time
    $("#transactiongrid").jqGrid({
      data: transactiondata,
      datatype: 'clientSide',
      jsonReader: { repeatitems: false },
      altRows: true,
      altclass: 'altRow',
      colModel:[
         {name:'id',index:'id',editable:false,label:'{% trans "identifier"|capfirst %}',align:'center',title:false,key:true,hidden:true,counter:0,frozen:true,searchoptions:{searchhidden: true}},
         {name:'date',index:'date',editable:false,label:'{% trans "date"|capfirst %}',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:1,searchoptions:{searchhidden: true}},
         {name:'type',index:'status',editable:false,label:'{% trans "type"|capfirst %}',align:'center',title:false,formatter:'select', edittype:'select', editoptions:{value:'DO out:DO out;DO in:DO in;PO:PO'},width:100,counter:2,searchoptions:{searchhidden: true}},
         {name:'reference',index:'reference',editable:true,label:'{% trans "reference"|capfirst %}',align:'left',title:false,width:200,counter:3,searchoptions:{searchhidden: true}},
         {name:'status',index:'status',editable:true,label:'{% trans "status"|capfirst %}',align:'center',title:false,formatter:'select', edittype:'select', editoptions:{value:'proposed:proposed;confirmed:confirmed;closed:closed'},width:100,counter:4,searchoptions:{searchhidden: true}},
         {name:'item',index:'item',editable:true,label:'{% trans "item"|capfirst %}',align:'left',title:false,formatter:'item',width:200,counter:5,searchoptions:{searchhidden: true}},
         {name:'origin',index:'origin',editable:true,label:'{% trans "origin"|capfirst %}',align:'left',title:false,formatter:'location',width:200,counter:6,searchoptions:{searchhidden: true}},
         {name:'startdate',index:'startdate',editable:true,label:'{% trans "start date"|capfirst %}',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:7,searchoptions:{searchhidden: true}},
         {name:'enddate',index:'enddate',editable:true,label:'{% trans "end date"|capfirst %}',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:8,searchoptions:{searchhidden: true}},
         {name:'quantity',index:'quantity',editable:true,label:'{% trans "quantity"|capfirst %}',align:'center',title:false,formatter:'number',searchrules:{number:true},width:70,counter:9,searchoptions:{searchhidden: true}},
         {name:'value',index:'value',editable:true,label:'{% trans "value"|capfirst %}',align:'center',title:false,formatter:'number',searchrules:{number:true},width:70,counter:10,searchoptions:{searchhidden: true}},
         {name:'criticality',index:'criticality',editable:false,label:'{% trans "criticality"|capfirst %}',align:'center',title:false,formatter:'number',searchrules:{number:true},width:70,counter:11,searchoptions:{searchhidden: true}},
         {name:'lastmodified',index:'lastmodified',editable:false,label:'Last Modified',align:'center',title:false,formatter:'date',formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},width:140,counter:12,searchoptions:{searchhidden: true}}
         ],
      rowNum:20,
      rowList:[20, 30, 50],
      iconSet: "fontAwesome",
      sortname: 'date',
      sortorder: "asc",
      width: $('#content-main').width(),
      height: 200,
      {% if perms.input.change_purchaseorder or perms.input.change_distributionorder %}
      multiselect: true,
      cellEdit: true,
      {% endif %}
      cellsubmit: 'clientArray',
      editurl: location.pathname,   //afterEditCell: afterEditCell,
      beforeSaveCell: select,
      onSelectRow: markSelectedRow
        });
    $("#transactiongrid").jqGrid('setFrozenColumns');
    $('#cb_transactiongrid.cbox').click(grid.markAllRows);
  }
  else
  {
    // Refresh data in the transaction grid
    $('#transactiongrid')
      .jqGrid('clearGridData')
      .jqGrid('setGridParam', {data: result.transactions})
      .trigger('reloadGrid');
  }
}


function selectTab(value)
{
  // Nothing changed
  if (value === showtab) return;

  if (showtab != null)
  {
    // Hide previous tab
    $("#" + showtab + "tab").removeClass("frepple-tabs-active");
    $("#" + showtab + "data").css("display", "none");

    // Show new tab
    showtab = value;
    $("#" + showtab + "tab").addClass("frepple-tabs-active");
    $("#" + showtab + "data").css("display", "block");

    // Save newly selected table as a preference
    grid.saveColumnConfiguration();
  }
  else
  {
    // Show new tab
    showtab = value;
    $("#" + showtab + "tab").addClass("frepple-tabs-active");
    $("#" + showtab + "data").css("display", "block");
  }
  if (showtab == "transactions")
    $('#actions').css("display", "initial");
  else
    $('#actions').css("display", "none");
  return false;
}


function setCommentType(t)
{
  if (t == "item")
    $("#commentitemlocation, #commentlocation").removeClass("comment_button_active ui-state-disabled");
  else if (t == "location")
    $("#commentitemlocation, #commentitem").removeClass("comment_button_active ui-state-disabled");
  else
    $("#commentlocation, #commentitem").removeClass("comment_button_active ui-state-disabled");
  $("#comment" + t).addClass("comment_button_active ui-state-disabled");
  $("#newcomment:hidden").toggle();
}


$(function() {
  {% if preferences.name %}selectRow("{{ preferences.name|escapejs }}");{% endif %}
  selectTab("{% if preferences.showtab %}{{ preferences.showtab }}{% else %}plan{% endif %}");

  $("#units").buttonset();
  $("#unitsmode").click(function() {updateScreen("value");});
  $("#valuemode").click(function() {updateScreen("units");});

  // Resize the grids when the window size changes
  $(window).bind('resize', function() {
	  var newsize = $('#content-main').width();
	  $("#plangrid").setGridWidth(newsize);
	  $("#transactiongrid").setGridWidth(newsize);
	  $("#forecastgrid").setGridWidth(newsize);
	});
});

</script>
{% endblock %}

{% block save_undo_buttons %}<div style="float:left"><select id="grouping" onchange="switchMode()">
  <option value="itemlocation">{% filter capfirst %}{% trans "no grouping" %}{% endfilter %}</option>
  <option value="item">{% filter capfirst %}{% trans "group by item" %}{% endfilter %}</option>
  <option value="location">{% filter capfirst %}{% trans "group by location" %}{% endfilter %}</option>
</select></div>{% endblock %}

{% block actions %}<form style="display: inline"><span id="units">
<input type="radio" id="unitsmode" name="units" value="value" {% if not "units" in preferences or preferences.units == 'value' %}checked{% endif %}><label for="unitsmode"><span title="{% trans "Display value"|escape %}" class="fa fa-dollar fa-lg" style="color:#4c3000"></span></label>
<input type="radio" id="valuemode" name="units" value="units" {% if "units" in preferences and preferences.units == 'units' %}checked{% endif %}><label for="valuemode"><span title="{% trans "Display units"|escape %}" class="fa fa-truck fa-lg" style="color:#4c3000"></span></label>
</span></form>&nbsp;&nbsp;
<span id="filter" onclick="grid.showFilter()" title="{% trans 'Filter data'|escape %}" class="fa fa-search fa-lg"></span>
<span onclick="grid.showExport(true)" title="{% trans 'Export as CSV or Excel file'|escape %}" class="fa fa-arrow-down fa-lg"></span>
<span onclick="grid.showCustomize(false);" title="{% trans 'Customize'|escape %}" class="fa fa-wrench fa-lg"></span>{% endblock %}
{% block after_table %}
<br/>
<div id="detail"><h1 id="detailtitle">{% trans "Detail" %}</h1>
{% if perms.input.change_purchaseorder or perms.input.change_distributionorder or perms.forecast.change_forecastdemand or perms.input.change_calendarbucket or perms.forecast.change_forecast or perms.inventoryplanning.change_inventoryplanning %}
&nbsp;&nbsp;<input type="submit" value="{% filter upper %}{% trans "save" %}{% endfilter %}" id="save" class="button ui-corner-all save_undo_button_inactive" role="button" onclick="save(true)" title="{% trans 'Save changes'|escape %}">
&nbsp;&nbsp;<input type="submit" value="{% filter upper %}{% trans "undo" %}{% endfilter %}" id="undo" class="button ui-corner-all save_undo_button_inactive" role="button" onclick="undo()" title="{% trans 'Undo changes'|escape %}">
{% endif %}
{% if perms.input.change_purchaseorder or perms.input.change_distributionorder %}
&nbsp;&nbsp;<select disabled='disabled' name="actions" id="actions" onchange="javascript: if ( $(this).val() == 'openbravo_incr_export') {openbravoIncrExport();} else {setStatus($(this).val());}" style="display: initial" class="ui-corner-all ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive" >
  <option value='no_action'>{% trans "select actions" %}</option>
  <option value='proposed'>{% filter capfirst %}{% blocktrans with status=_("proposed") %}change status to {{status}}{% endblocktrans %}{% endfilter %}</option>
  <option value='confirmed'>{% filter capfirst %}{% blocktrans with status=_("confirmed") %}change status to {{status}}{% endblocktrans %}{% endfilter %}</option>
  <option value='closed'>{% filter capfirst %}{% blocktrans with status=_("closed") %}change status to {{status}}{% endblocktrans %}{% endfilter %}</option>
  <option value='openbravo_incr_export'>{% filter capfirst %}{% trans "incremental export to openbravo" %}{% endfilter %}</option>
</select>
{% endif %}
<div class="frepple-tabs" id="tabs">
<ul role="tablist">
<li id="forecasttab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('forecast')">{% trans 'forecast'|capfirst %}</a></li>
<li id="plantab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('plan')">{% trans 'Plan'|capfirst %}</a></li>
<li id="transactionstab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('transactions')">{% trans 'Transactions'|capfirst %}</a></li>
<li id="commentstab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('comments')">{% trans 'Comments'|capfirst %}</a></li>
<li id="historytab" role="tab"><a class="ui-tabs-anchor" onclick="return selectTab('history')">{% trans 'History'|capfirst %}</a></li>
</ul>
</div>

<div id="forecastdata" class="clear" style="display:none">
<div id="forecastgraph" style="clear: both; height: 200px; padding: 10px; "></div>
<table id="forecastgrid"></table><br/>
<h2>{% trans "parameters"|capfirst %}</h2>
<table><tr><td>{% trans "Forecast method"|capfirst %}</td><td>&nbsp;&nbsp;{% if perms.forecast.change_forecast %}<select id="forecastmethod" onchange="setForecastMethod($(this).val())">
<option value="automatic">{% trans "Automatic" %}</option>
<option value="constant">{% trans "Constant" context "forecast method" %}</option>
<option value="trend">{% trans "Trend" context "forecast method" %}</option>
<option value="seasonal">{% trans "Seasonal" context "forecast method" %}</option>
<option value="intermittent">{% trans "Intermittent" context "forecast method" %}</option>
<option value="moving average">{% trans "Moving average" context "forecast method" %}</option>
<option value="manual" selected="selected">{% trans "Manual" %}</option>
</select>{% else %}<span id="forecastmethod"></span>{% endif %}</td></tr>
<tr><td>{% trans "Selected forecast method"|capfirst %}</td><td>&nbsp;&nbsp;<span id="forecast_out_method"></span></td></tr>
<tr><td>{% trans "SMAPE Forecast error"|capfirst %}</td><td>&nbsp;&nbsp;<span id="forecast_out_smape"></span>&nbsp;%</td></tr></table>
</div>

<div id="plandata" class="clear" style="display:none">
<div id="plangraph" style="clear: both; height: 200px; padding: 10px; "></div>
<table id="plangrid"></table><br/>
<h2>{% trans "parameters"|capfirst %}</h2>
<table><tr><td class="bold">{% trans "reorder quantity"|capfirst %}</td>
<td class="bold">{% trans "safety stock"|capfirst %}</td></tr>
<tr><td valign="top">
<input type="radio" id="roq_type_calculated" name="roq_type" value="calculated" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo()"{% else %}disabled="disabled"{% endif %}><label for="roq_type_calculated">&nbsp;{% trans "economic order quantity"|capfirst %}: <span id="eoq">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans "units" %}&nbsp;&nbsp;&nbsp;&nbsp;</label><br/>
<input type="radio" id="roq_type_quantity" name="roq_type" value="quantity" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo()"{% else %}disabled="disabled"{% endif %}><label for="roq_type_quantity">&nbsp;{% trans "quantity"|capfirst %}&nbsp;<input style="width:80px" type="number" id="roq_min_qty"{% if perms.change_inventoryplanning %} oninput="activateSaveUndo(); $(this).addClass('dirty-cell')" {% else %} readonly="true" {% endif %}min="1"> {% trans "units" %}</label><br/>
<input type="radio" id="roq_type_periodofcover" name="roq_type" value="periodofcover" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo()"{% else %}disabled="disabled"{% endif %}><label for="roq_type_periodofcover">&nbsp;{% trans "period of cover"|capfirst %}&nbsp;<input style="width:50px" type="number" id="roq_min_poc"{% if perms.change_inventoryplanning %} oninput="activateSaveUndo(); $(this).addClass('dirty-cell')" {% else %} readonly="true" {% endif %}min="1" step="7"> {% trans "days" %}</label><br/>
</td><td valign="top">
<input type="radio" id="ss_type_calculated" name="ss_type" value="calculated" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo()"{% else %}disabled="disabled"{% endif %}><label for="ss_type_calculated">&nbsp;{% trans "service level"|capfirst %}: <span id="calculated_ss">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans "units" %}<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "minimum"|capfirst %} <input type="number" id="service_level"{% if perms.change_inventoryplanning %} oninput="activateSaveUndo(); $(this).addClass('dirty-cell')" {% else %} readonly="true" {% endif %}min="0" max="100" size="7"> %<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "statistical distribution"|capfirst %}
<select name="actions" id="demand_distribution"{% if perms.change_inventoryplanning %} onchange="activateSaveUndo(); $(this).addClass('dirty-cell red')" {% else %} disabled="disabled" {% endif %}style="display: initial" class="ui-corner-all ui-selectmenu-default ui-state-enabled">
  <option value="automatic">{% filter capfirst %}{% trans "automatic" %}{% endfilter %}</option>
  <option value="normal">{% filter capfirst %}{% trans "normal" context "statistical distribution" %}{% endfilter %}</option>
  <option value="poisson">{% filter capfirst %}{% trans "poisson" context "statistical distribution" %}{% endfilter %}</option>
  <option value="negbinomial">{% filter capfirst %}{% trans "negative binomial" context "statistical distribution" %}{% endfilter %}</option>
</select><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "demand standard deviation"|capfirst %} <input style="width:80px" type="number" id="demand_deviation"{% if perms.change_inventoryplanning %} oninput="activateSaveUndo(); $(this).addClass('dirty-cell')" {% else %} readonly="true" {% endif %}size="7"> {% trans "units" %}<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "lead time standard deviation"|capfirst %} <input style="width:80px" type="number" id="leadtime_deviation"{% if perms.change_inventoryplanning %} oninput="activateSaveUndo(); $(this).addClass('dirty-cell')" {% else %} readonly="true" {% endif %}size="7"> {% trans "days" %}</label><br/>
<input type="radio" id="ss_type_quantity" name="ss_type" value="quantity" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo()"{% else %}disabled="disabled"{% endif %}><label for="ss_type_quantity">&nbsp;{% trans "quantity"|capfirst %}<input style="width:80px" type="number" id="ss_min_qty"{% if perms.change_inventoryplanning %}  oninput="activateSaveUndo(); $(this).addClass('dirty-cell')" {% else %} readonly="true" {% endif %}min="1"> {% trans "units" %}</label><br/>
<input type="radio" id="ss_type_periodofcover" name="ss_type" value="periodofcover" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo()"{% else %}disabled="disabled"{% endif %}><label for="ss_type_periodofcover">&nbsp;{% trans "period of cover"|capfirst %}<input style="width:50px" type="number" id="ss_min_poc" min="1" step="7"{% if perms.change_inventoryplanning %}  oninput="activateSaveUndo(); $(this).addClass('dirty-cell')"{% else %} readonly="true"{% endif %}> {% trans "days" %}</label><br/>
</td></tr>
</table>
<input type="checkbox" id="nostock" {% if perms.change_inventoryplanning %}onclick="activateSaveUndo(); $(this).addClass('dirty-cell')"{% else %}disabled="disabled"{% endif %}>&nbsp;&nbsp;<label for="nostock">{% trans "don't stock"|capfirst %}</label>
</div>

<div id="transactionsdata" class="clear" style="display:none">
<table id="transactiongrid"></table>
</div>
<div id="commentsdata" class="clear" style="display:none">
{% if perms.common.add_comment %}<input type="submit"  role="button" id="commentitem" value="{% trans 'new item comment'|capfirst %}" onclick="return setCommentType('item')" aria-disabled="false" style="font-size:12px" disabled="disabled" class="ui-button ui-widget ui-state-default ui-state-disabled ui-corner-all" />
&nbsp;&nbsp;
<input type="submit"  role="button" id="commentitemlocation" value="{% trans 'new item-location comment'|capfirst %}" onclick="return setCommentType('itemlocation')" aria-disabled="false" style="font-size:12px" disabled="disabled" class="ui-button ui-widget ui-state-default ui-state-disabled ui-corner-all" />
&nbsp;&nbsp;
<input type="submit"  role="button" id="commentlocation" value="{% trans 'new location comment'|capfirst %}" onclick="return setCommentType('location')" aria-disabled="false" style="font-size:12px" disabled="disabled" class="ui-button ui-widget ui-state-default ui-state-disabled ui-corner-all" />
&nbsp;&nbsp;
<textarea style="display:none; width:100%" id="newcomment" name="comment" rows="5" oninput="activateSaveUndo()"></textarea><br/>{% endif %}
<span id="pastcomments">{% trans "no comments yet"|capfirst %}</span>
</div>

<div id="historydata" class="clear" style="display:none"><span id="parameters"></span></div>
</div>
{% endblock %}