{% extends "admin/base_site_nav.html" %}
{% load i18n %}
{% block contextmenus %}
{% include "demandcontext.html" %}
{% include "itemcontext.html" %}
{% include "customercontext.html" %}
{% include "operationcontext.html" %}
{% endblock %}
{% block extrahead %}{{block.super}}
<style type="text/css">
#gantt line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }
#gantt .inventoryline {
   stroke: #888888;
   shape-rendering: crispEdges;
 }
</style>
<script type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}planningboard/js/planningboard.js"></script>
<script type="text/javascript">

var horizonstart = new Date(2014,1-1,1);
var horizonend = new Date(2014,7-1,1);
var viewstart = new Date(2014,1-1,1);
var viewend = new Date(2014,7-1,1);
var delta = (viewend.getTime() - viewstart.getTime()) / 86400000.0;

var ganttRows = {}; // Rows configured to be shown.
var numRows = 0;
var curRows = {}; // TODO Currently displayed rows. Once configured there will be some delay between config and actual display.
var rowheight = 50;
var timescaleheight = 34;

var x = d3.time.scale().domain([horizonstart, horizonend]);
var y = d3.scale.linear().rangeRound([rowheight-3, 3]);

var service_url = ('https:' == document.location.protocol ? 'wss://' : 'ws://') + document.location.hostname
  + ':{{port}}/planningboard/?user={{request.user|urlencode}}&time={{time}}&token={{token}}';

$(function() {
  $(".fa-lg").tooltip({show: {effect: "fade", delay: 500}});
  $("#ganttdiv").resizable({
    handles:"s",
    maxHeight: ganttRows.length * rowheight,
    minHeight: 2 * rowheight + 10
    });
  $("#tabs").tabs();
  timeAxis = d3.select("#gantt").append("g").attr("transform", "translate(250,0)");
  drawAxis();
  connect(service_url, function() {send("/get/");} );
});

</script>
{% endblock %}
{% block content %}
<div id="toolicons">
<span onclick="gantt.zoom(0.5,0)" class="fa fa-search-plus fa-lg" title="{% trans 'Zoom in'|escape %}"></span>&nbsp;&nbsp;
<span onclick="gantt.zoom(1.5,0)" class="fa fa-search-minus fa-lg" title="{% trans 'Zoom out'|escape %}"></span>&nbsp;&nbsp;
<span onclick="gantt.zoom(1,-86400000)" class="fa fa-backward fa-lg" title="{% trans 'Move in'|escape %}"></span>&nbsp;&nbsp;
<span onclick="gantt.zoom(1,86400000)" class="fa fa-forward fa-lg" title="{% trans 'Move out'|escape %}"></span>&nbsp;&nbsp;
<span onclick="gantt.reset()" class="fa fa-square fa-lg" title="{% trans 'Reset'|escape %}"></span>&nbsp;&nbsp;
<span onclick="grid.showBucket()" title="{% trans 'Configure time buckets'|escape %}" id="bucketconfig" class="fa fa-clock-o fa-lg"></span>
<span onclick="customize()" title="Customize" class="fa fa-wrench fa-lg" style="display:inline-block"></span>
</div>
<div id="entities" style="display: none">
  <select name="multiselect" class="multiselect" multiple="multiple" style="width:440px; height:200px; margin:10px; padding:10px">
    <optgroup id="resourcelist" label="{% trans "Resource" %}"></optgroup>
    <optgroup id="bufferlist" label="{% trans "Buffer" %}"></optgroup>
    <optgroup id="operationlist" label="{% trans "Operation" %}"></optgroup>
  </select>
</div>
<div id="content-main" style="width:100%; border: 1px solid; border-radius: 10px">
<div style="margin: 5px 1px 5px 0px; overflow-x: hide; overflow-y: scroll"><svg id="gantt"></svg></div>
</div>

<div id="tabs" style="width:100%; margin-top:10px">
  <ul>
    <li><a href="#unplanned">{% trans "Unplanned demand" %}</a></li>
    <li><a href="#alerts">{% trans "Alerts" %}</a></li>
  </ul>
  <div id="unplanned">
    <div style="float: right">
    <span onclick="send('/solve/erase/')" title="{% trans 'Clear the plan'|escape %}" class="fa fa-stop fa-lg"></span>
    <span onclick="send('/solve/replan/backward/')" title="{% trans 'Plan unplanned demands backward from their due date'|escape %}" class="fa fa-fast-backward fa-lg"></span>
    <span onclick="send('/solve/replan/forward/')" title="{% trans 'Plan unplanned demands forward from the current date'|escape %}" class="fa fa-fast-forward fa-lg"></span>
    </div>
    <div id="demandlist"></div>
  </div>
  <div id="alerts">
    <p>Empty still...</p>
  </div>
</div>

<div id="timebuckets" style="display:none" title="{% trans 'Time buckets' %}">
<form method="get" action="">
{% trans 'Bucket size' %}&nbsp;&nbsp;<select name="horizonbuckets" id="horizonbuckets">
{% for i in bucketnames %}<option value="{{i}}"{% ifequal i request.user.horizonbuckets %} selected="selected"{% endifequal %}>{% trans i %}</option>
{% endfor %}</select><br/>
<input type="radio" name="horizontype" value="0"{% if not request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
{% trans 'from'|capfirst %}&nbsp;
<input id="horizonstart" type="text" size="9" class="vDateField" value="{{request.user.horizonstart|date:"Y-m-d"}}"/>
{% trans 'to' %}&nbsp;
<input id="horizonend" type="text" size="9" class="vDateField" value="{{request.user.horizonend|date:"Y-m-d"}}"/><br/>
<input type="radio" id="horizontype" name="horizontype" value="1"{% if request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
<input id="horizonlength" name="horizonlength" type="text" size="2" value="{{request.user.horizonlength}}"/>&nbsp;
<select name="horizonunit" id="horizonunit">
<option value="day"{% ifequal request.user.horizonunit 'day' %} selected="selected"{% endifequal %}>{% trans 'days' %}</option>
<option value="week"{% ifequal request.user.horizonunit 'week' %} selected="selected"{% endifequal %}>{% trans 'weeks' %}</option>
<option value="month"{% ifequal request.user.horizonunit 'month' %} selected="selected"{% endifequal %}>{% trans 'months' %}</option>
</select>&nbsp;{% trans 'after plan current date' %}
<input id="horizonoriginal" type="hidden" value="{{request.user.horizonbuckets}}|{{request.user.horizonstart|date:"Y-m-d"}}|{{request.user.horizonend|date:"Y-m-d"}}|{{request.user.horizontype}}|{{request.user.horizonlength}}|{{request.user.horizonunit}}"/>
</form>
</div>


{% endblock %}