{% extends "admin/base_site_nav.html" %}
{% load i18n %}
{% block extrahead %}{{block.super}}
<style type="text/css">
#gantt line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }
#gantt .inventoryline {
   stroke: #888888;
   shape-rendering: crispEdges;
 }
</style>
<script type="text/javascript" src="{{STATIC_URL}}js/d3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}planningboard/js/planningboard.js"></script>
<script type="text/javascript">

var horizonstart = new Date(2014,1-1,1);
var horizonend = new Date(2014,7-1,1);
var viewstart = new Date(2014,1-1,1);
var viewend = new Date(2014,7-1,1);
var delta = (viewend.getTime() - viewstart.getTime()) / 86400000.0;

var ganttRows = {}; // Rows configured to be shown.
var numRows = 0;
var colorStyle = 'default';
var critical_red = 5;
var critical_green = 20;
var critical_yellow = (critical_red + critical_green) / 2;
var rowheight = 50;
var timescaleheight = 34;

var x = d3.time.scale().domain([horizonstart, horizonend]);
var y = d3.scale.linear().rangeRound([rowheight-3, 3]);

var service_url = ('https:' == document.location.protocol ? 'wss://' : 'ws://') + document.location.hostname
  + ':{{port}}/ws/?username={{request.user.username|urlencode}}&userid={{request.user.id}}&time={{time}}&token={{token}}';

$(function() {
  /*
  $("#ganttdiv").resizable({   // TODO
    handles:"s",
    maxHeight: ganttRows.length * rowheight,
    minHeight: 2 * rowheight + 10
    });
  */
  timeAxis = d3.select("#gantt").append("g").attr("transform", "translate(250,0)");
  drawAxis();
  connect(service_url, function() {
    send("/get/");
    var initialrows = []; // TODO restore where we left {{preferences|safe}};
    for (var idx = 0; idx < initialrows.length; idx++)
      send("/register/" + initialrows[idx]);
    for (var idx = 0; idx < initialrows.length; idx++)
    {
      if (!(initialrows[idx] in ganttRows))
      {
        ganttRows[initialrows[idx]] = {
           "index": numRows++,
           "svg": null,
           "data": null,
           "type": initialrows[idx].slice(0, initialrows[idx].indexOf("/"))
           };
        send("/plan/" + initialrows[idx]);
      }
    }
  });
	$("#horizonbucketsul li a").click(function(){
		  $("#horizonbuckets1").html($(this).text() + '  <span class="caret"></span>');
		  $("#horizonbuckets").val($(this).prop('name'));
		});

	$("#horizonunitul li a").click(function(){
	  $("#horizonunit1").html($(this).text() + '  <span class="caret"></span>');
	  $("#horizonunit").val($(this).prop('name'));
	});

});

</script>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-12"><div class="pull-right" id="toolicons">
<button class="btn btn-xs btn-primary" onclick="gantt.zoom(0.5,0)" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'zoom in'|capfirst|force_escape %}" ><span class="fa fa-search-plus"></span></button>
<button class="btn btn-xs btn-primary" onclick="gantt.zoom(1.5,0)" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'zoom out'|capfirst|force_escape %}" ><span class="fa fa-search-minus"></span></button>
<button class="btn btn-xs btn-primary" onclick="gantt.zoom(1,-86400000)" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'move in'|capfirst|force_escape %}" ><span class="fa fa-backward"></span></button>
<button class="btn btn-xs btn-primary" onclick="gantt.zoom(1,86400000)" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'move out'|capfirst|force_escape %}" ><span class="fa fa-forward"></span></button>
<button class="btn btn-xs btn-primary" onclick="resetBoard()" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'reset'|capfirst|force_escape %}" ><span class="fa fa-square"></span></button>
<button class="btn btn-xs btn-primary" onclick="grid.showBucket()" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'configure time buckets'|capfirst|force_escape %}" id="bucketconfig"><span class="fa fa-clock-o"></span></button>
</div></div></div>

<div class="row">
<div class="col-md-12">
<div id="ganttdiv" style="margin: 5px 1px 5px 0px; overflow-x: hide; overflow-y: scroll; border: 1px solid">
<svg id="gantt" style="width:100%"></svg>
</div></div></div>

<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
    <li class="active" role="presentation"><a data-toggle="tab" href="#demand">{% trans "demand"|capfirst %}</a></li>
    <li role="presentation"><a data-toggle="tab" href="#resource">{% trans "resource"|capfirst %}</a></li>
    <li role="presentation"><a data-toggle="tab" href="#buffer">{% trans "buffer"|capfirst %}</a></li>
    <li role="presentation"><a data-toggle="tab" href="#operation">{% trans "operation"|capfirst %}</a></li>
    <li role="presentation"><a data-toggle="tab" href="#supplier">{% trans "supplier"|capfirst %}</a></li>
    {% comment %}Translators: Translation included with Django {% endcomment %}
    <li role="presentation"><a data-toggle="tab" href="#chat">{% trans "Messages"|capfirst %}</a></li>
    <li role="presentation"><a data-toggle="tab" href="#chart">{% trans "chart"|capfirst %}</a></li>
</ul>
</div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="tab-content">
  <div id="demand" class="tab-pane active">
    <div class="row"><div class="col-md-12"><div class="pull-right">
    <button class="btn btn-xs btn-primary" onclick="actionSelectedDemand('/solve/erase/', '/solve/unplan/')" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'clear the plan of selected demands'|capfirst|force_escape %}"><span class="fa fa-stop"></span></button>
    <button class="btn btn-xs btn-primary" onclick="actionSelectedDemand('/solve/replan/backward/', '/solve/demand/backward/')" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'plan selected demands backward from their due date'|capfirst|force_escape %}"><span class="fa fa-fast-backward"></span></button>
    <button class="btn btn-xs btn-primary" onclick="actionSelectedDemand('/solve/replan/forward/', '/solve/demand/forward/')" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'plan selected demands forward from the current date'|capfirst|force_escape %}"><span class="fa fa-fast-forward"></span></button>
    <button class="btn btn-xs btn-primary" onclick="addSelected('demand')" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Add to the graph'|escape %}"><span class="fa fa-tasks"></span></button>
    </div></div></div>
    <div class="row"><div class="col-md-12">
    <table id="demandlist"></table>
    </div></div>
  </div>
  <div id="resource" class="tab-pane">
    <div class="row"><div class="col-md-12"><div class="pull-right">
    <button class="btn btn-xs btn-primary" onclick="addSelected('resource')" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'Add to the graph'|capfirst|force_escape %}"><span class="fa fa-tasks"></span></button>
    </div></div></div>
    <div class="row"><div class="col-md-12">
    <table id="resourcelist"></table>
    </div></div>
  </div>
  <div id="buffer" class="tab-pane">
    <div class="row"><div class="col-md-12"><div class="pull-right">
    <button class="btn btn-xs btn-primary" onclick="addSelected('buffer')" data-toggle="tooltip" data-placement="top" data-original-title=="{% trans 'Add to the graph'|capfirst|force_escape %}"><span class="fa fa-tasks"></span></button>
    </div></div></div>
    <div class="row"><div class="col-md-12">
    <table id="bufferlist"></table>
    </div></div>
  </div>
  <div id="operation" class="tab-pane">
    <div class="row"><div class="col-md-12"><div class="pull-right">
    <button class="btn btn-xs btn-primary" onclick="addSelected('operation')" data-toggle="tooltip" data-placement="top" data-original-title=="{% trans 'Add to the graph'|capfirst|force_escape %}"><span class="fa fa-tasks"></span></button>
    </div></div></div>
    <div class="row"><div class="col-md-12">
    <table id="operationlist"></table>
    </div></div>
  </div>
  <div id="supplier" class="tab-pane">
    <div class="row"><div class="col-md-12"><div class="pull-right">
    <button class="btn btn-xs btn-primary" onclick="addSelected('supplier')" data-toggle="tooltip" data-placement="top" data-original-title=="{% trans 'Add to the graph'|capfirst|force_escape %}"><span class="fa fa-tasks"></span></button>
    </div></div></div>
    <div class="row"><div class="col-md-12">
    <table id="supplierlist"></table>
    </div></div>
  </div>
  <div id="chat" class="tab-pane">
    <div class="row"><div class="col-md-12" style="height: 200px; overflow-y: scroll">
    <table id="chathistory"></table>
    </div></div>
    <div class="row"><div class="col-md-12">
    <button class="btn btn-xs btn-primary" id="chatsend" onclick="sendChat()">{% trans "send"|capfirst %}</button>
    <input id="chatmsg" type="text" size="40">
    </div></div>
  </div>
  <div id="chart" class="tab-pane">
    <div class="row"><div class="col-md-12">
    Color by:<br>
    <input id="color_default" type="radio" name="chartcolor" value="default" onclick="colorBoard('default')" checked><label for="color_default">Default</label><br/>
    <input id="color_criticality" type="radio" name="chartcolor" onclick="colorBoard('criticality')" value="criticality"><label for="color_criticality">Criticality</label>
    <input id="color_critical_red" type="number" step="1" min="0" max="100" size="3" value="5" onchange="colorBoard('criticality')"/>
    <input id="color_critical_green" type="number" step="1" min="0" max="100" size="3" value="20" onchange="colorBoard('criticality')"/><br/>
  	</div></div>
  </div>
</div></div></div>

<div id="timebuckets" class="modal fade" role="dialog" aria-labelledby="timebucketsLabel">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
       <h4 class="modal-title">{% trans 'time buckets'|capfirst %}</h4>
      </div>
      <div class="modal-body">

      <form method="get" action="#">
      <input type="hidden" name="horizonbuckets" id="horizonbuckets" value="{{request.user.horizonbuckets}}">
      <input type="hidden" name="horizonunit" id="horizonunit" value="{{request.user.horizonunit}}">
      <input id="horizonoriginal" type="hidden" value="{{request.user.horizonbuckets}}|{{request.user.horizonstart|date:"Y-m-d"}}|{{request.user.horizonend|date:"Y-m-d"}}|{{request.user.horizontype}}|{{request.user.horizonlength}}|{{request.user.horizonunit}}"/>
          <div class="row" style="padding-bottom: 15px">
            <div class="col-xs-12">
		          {% trans 'bucket size'|capfirst %}&nbsp;&nbsp;
		          <div class="dropdown dropdown-submit-input" style="display:inline">
		              <button class="btn btn-default dropdown-toggle" type="button" name="horizonbuckets1" id="horizonbuckets1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		                {% if request.user.horizonbuckets %}{% trans request.user.horizonbuckets %}{% endif %}&nbsp;&nbsp;<span class="caret"></span>
		              </button>
		              <ul class="dropdown-menu" aria-labelledby="horizonbuckets1" id="horizonbucketsul" name="horizonbucketsul" style="top: auto;">
		              {% for i in bucketnames %}
		                <li><a onclick="" name="{{ i }}">{% trans i %}</a></li>
		              {% endfor %}
		              </ul>
		          </div>
            </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
            <div class="col-xs-12 form-inline">
							<input type="radio" name="horizontype" value="0"{% if not request.user.horizontype %} checked{% endif %}/>
							&nbsp;&nbsp;{% trans 'from'|capfirst %}&nbsp;
							<input id="horizonstart"  style="display:inline" type="text" size="9" class="vDateField form-control" value="{{request.user.horizonstart|date:"Y-m-d"}}"/>
							&nbsp;{% trans 'to' %}&nbsp;
							<input id="horizonend"  style="display:inline" type="text" size="9" class="vDateField form-control" value="{{request.user.horizonend|date:"Y-m-d"}}"/>
							<br/>
           </div>
          </div>

          <div class="row">
            <div class="col-xs-12 form-inline">
              <input type="radio" id="horizontype" name="horizontype" value="1"{% if request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
              <input id="horizonlength" name="horizonlength" type="number" class="form-control" min="1" max="99" maxlength="2" value="{{request.user.horizonlength}}"/>&nbsp;
              <div class="dropdown dropdown-submit-input" style="display:inline">
	              <button class="btn btn-default dropdown-toggle form-control" type="button" name="horizonunit1" id="horizonunit1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                {% if request.user.horizonunit == "day" %}{% trans 'days' %}{% endif %}
	                {% if request.user.horizonunit == "week" %}{% trans 'weeks' %}{% endif %}
	                {% if request.user.horizonunit == "month" %}{% trans 'months' %}{% endif %}
	                &nbsp;&nbsp;<span class="caret"></span>
	              </button>
	              <ul class="dropdown-menu" aria-labelledby="horizonunit1" id="horizonunitul" name="horizonunitul" style="top: auto;">
	                <li><a name="day">{% trans 'days' %}</a></li>
	                <li><a name="week">{% trans 'weeks' %}</a></li>
	                <li><a name="month">{% trans 'months' %}</a></li>
	              </ul>
		          </div>
		          &nbsp;{% trans 'after plan current date' %}
            </div>
          </div>

      </form>
			</div>
			<div class="modal-footer">
				<input type="submit" id="okbutton" role="button" class="btn btn-primary pull-left" value="{% trans 'OK' %}">
				<input type="submit" id="cancelbutton" role="button" class="btn btn-primary pull-right" data-dismiss="modal" value="{% trans 'cancel'|capfirst %}">
			</div>

		</div>
	</div>
</div>

{% endblock %}
