chardet >= 2.0.1
CherryPy >= 3.2.2
colorama >= 0.2.5
djangorestframework >= 3.3.1
et-xmlfile >= 1.0.0
html5lib >= 0.999
jdcal >= 1.0
Markdown >= 2.6.4
openpyxl >= 2.3.0-b2
packaging >= 15.0
pip >= 1.5.4
pycurl >= 7.19.3
requests >= 2.2.1
Routes >= 2.0
setuptools >= 3.3
six >= 1.5.2
urllib3 >= 1.7.1
pygobject >= 2.28.0
psycopg2 >= 2.4.5