{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block extrastyle %}{{block.super}}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/login.css" />
<style>
  #headerbar {
    background-color: transparent;
  }
  #login-form, #content {
    margin-top: 0px;
  }
  body.login {
    background: white;
  }
  .login #container {
    border: none;
  }
</style>
{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block title_content %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<p>
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}<br>
    {% trans "You may now:" %}&nbsp;<a href="{{ login_url }}"><strong>{% trans "log in" %}</strong></a>.
    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}