{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block extrastyle %}{{block.super}}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/login.css" />
<style>
  #headerbar {
    background-color: transparent;
  }
  #login-form, #content {
    margin-top: 0px;
  }
  body.login {
    background: white;
  }
  .login #container {
    border: none;
  }
  input[type=submit] {
    background: #838d11;
    color: #fff;
    padding: 10px 20px 10px 20px;
  }
</style>
{% endblock %}

{% block branding %}<img style="display:block; margin-left:auto; margin-right:auto" src="{{STATIC_URL}}img/frepple_logo.svg" height="94" width="240" alt="frePPLe&nbsp;{% version %}">{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<br>
<div style="display:block; float:left;"><p>
    {% blocktrans %}
    Forgot your password?&nbsp;&nbsp; Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p></div>
<form method="post" action="" style="display:block; float:left;">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="{% trans 'Reset password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}